@use '../abstract' as *;
.console-header {
  display:flex; flex:1; gap:pxToRem(10); justify-content:space-between; align-items:center;

  .start  { display:flex; gap:pxToRem(10); }
  .center { display:flex; align-self:center; }
  .end    { display:flex; gap:pxToRem(10); }

  &-logo {
    display:block; height:pxToRem(26);
    img { display:block; }
  }
}