@use '../abstract' as *;
.modal {
  --p-modal-bg-color: var(--color-generic-0);
  --p-modal-border-color: var(--color-neutral-10);
  display:flex; flex-direction:column;
  width:100%; max-width:pxToRem(640); max-height:90vh;
  box-shadow: 0 0 pxToRem(4) rgb(0 0 0 / 25%); /*TODO: update to a css variable*/
  background-color:hsl(var(--p-modal-bg-color));
  border-radius:pxToRem(10); /*TODO: update to a css variable*/
  &-header {
    display:flex; flex-shrink:0;
    padding:pxToRem(30); padding-block-end:pxToRem(25);
    font-size:pxToRem(20); line-height:1.75; border-block-end:solid pxToRem(1) hsl(var(--p-modal-border-color));
    :where(.x-button) {
      --size: 30;
      margin-inline-start:auto; align-self:center;
    }
  }
  &-content { padding:pxToRem(30); overflow:auto; }
  &-footer  { flex-shrink:0; padding:pxToRem(30); border-block-start:solid pxToRem(1) hsl(var(--p-modal-border-color)); }
  &-curtain {
    position:fixed; z-index:50; inset:0;
    display:flex; justify-content:center; align-items:center; padding:pxToRem(10);
    background-color:hsl(var(--color-generic-100) / 0.7);
  }

  .theme-dark & {
    --p-modal-bg-color: var(--color-dark-700);
    --p-modal-border-color: var(--color-dark-100);
    &-header {
      :where(.x-button) {
        --p-text-color: var(--color-dark-700);
        --p-bg-color: var(--color-blue-100);
      }
    }
  }
}