@use '../abstract' as *;
.switch-box {
  $padding: pxToRem(15);
  --card-padding: #{$padding};
  --p-image-bg-color: var(--color-neutral-100);

  display:grid; grid-template-columns:auto 1fr auto; column-gap:pxToRem(20);
  grid-template-areas:  "image title switch"
                          "image link  switch";
  font-size:pxToRem(13); cursor:pointer;
  &-image { grid-area: image;   }
  &-title { grid-area: title;   }
  .switch { grid-area: switch;  }
  .link   { grid-area: link;    }

  &-image {
    img {
      display:block; inline-size:pxToRem(50); block-size:pxToRem(50); border-radius:50%;
      background-color: hsl(var(--p-image-bg-color));
    }
  }

  .theme-dark & {
    --p-image-bg-color: var(--color-dark-800);
  }
}