@use '../abstract' as *;
.tile {
    &-title { font-weight:400; }
    :where(.card) {
      color: hsl(var(--color-blue-900));
      &:hover { box-shadow:0 0 pxToRem(1) rgb(0 0 0 / 20%); opacity:0.7; } /* Todo update box-shadow native variable */
    }
}
