@use '../abstract' as *;
.upload-box {
  --p-background-color:var(--color-generic-0);
  --p-header-text-color:var(--color-generic-0);
  --p-header-bg-color:var(--color-blue-700);

  --p-content-text-color:var(--color-blue-700);
  --p-content-bg-color:var(--color-generic-0);

  --p-border-color:var(--color-blue-50);

  overflow:hidden; min-width:285px;
  background-color:hsl(var(--p-background-color));
  box-shadow:var(--box-shadow);
  border-radius:var(--border-radius);
  font-size:pxToRem(14); line-height:1;

  &-header {
    display:flex; padding:pxToRem(16);
    color:hsl(var(--p-header-text-color)); background-color:hsl(var(--p-header-bg-color));
    .icon-button { margin-inline-start:pxToRem(16); }
  }
  &-title {
    align-self:center; margin-inline-end:auto;
    .amount {
      &::before { content:"("; }
      &::after { content:")"; }
    }
  }
  &-content {
    background-color:hsl(var(--p-content-bg-color)); color:hsl(var(--p-content-text-color));
    height:0; overflow:hidden;
    transition:var(--transition);
    &.is-open {height:200px; /* consider to change to rem */}
  }
  &-list {}
  &-item {
    display:flex; padding:pxToRem(13) pxToRem(20);
    .file-name { @include trim; align-self:center; margin-inline-end:auto; }
    .icon-button{ align-self:center; margin-inline-start:pxToRem(16);}
    &:not(:last-child) { border-bottom:solid 1px hsl(var(--p-border-color)); }
  }

  /* states */
  &.is-float{
    position:fixed;
    @media #{$break1} { inset-inline:pxToRem(16); inset-block-end:pxToRem(20); }
    @media #{$break2open} { inset-inline-end:pxToRem(24); inset-block-end:pxToRem(24); }
  }

  /* dark theme */
  :root .theme-dark &{
    --p-background-color:var(--color-dark-700);
    --p-header-text-color:var(--color-generic-0);
    --p-header-bg-color:var(--color-dark-100);

    --p-content-text-color:var(--color-blue-100);
    --p-content-bg-color:var(--color-dark-700);

    --p-border-color:var(--color-dark-100);
  }
}