@use '../abstract' as *;
.upload-image {
  $upload-image-size-default: #{pxToRem(40)};
  --p-upload-image-size:var(--upload-image-size, #{$upload-image-size-default});
  --p-upload-bg-color:var(--color-neutral-100);
  --p-upload-icon-color:var(--color-neutral-200);

  position:relative; display:grid; place-content:center;
  width:var(--p-upload-image-size);
  height:var(--p-upload-image-size);
  background-color:var(--p-upload-bg-color);
  color:var(--p-upload-icon-color);
  border-radius:50%;

  .icon{position:relative; z-index:20;}
  .progress {
    --progress:var(--progress-value, 0);
    position:absolute; z-index:10; inset:0; border-radius:50%;
    background:
    radial-gradient(
                    var(--p-upload-bg-color) 0%,
                    var(--p-upload-bg-color) 64%,
                    transparent 64.01%,
                    transparent 100%),

    conic-gradient(
                    hsl(194 66% 50%) 0%,
                    hsl(97 66% 50%) calc(var(--progress) * 1%),
                    hsl(0 0% 0% / 0%) calc(var(--progress) * 1%),
                    hsl(0 0% 0% / 0%) 100%);
  }
  &.is-finished {
    --p-upload-icon-color:var(--color-neutral-600);
    .progress{ display:none; }
  }
  /* dark theme */
  :root .theme-dark &{
    --p-upload-bg-color:var(--color-dark-100);
    --p-upload-icon-color:var(--color-blue-100);
  }
}