@use '../abstract' as *;
.grid-with-side {
  position: relative;

  :where(.main-header)  { grid-area: header;  }
  :where(.main-side)    { grid-area: side;    }
  :where(.main-content) { grid-area: main;    }

  @media #{$break1}, #{$break2} {
    .main-side { display:none; position:absolute; inset:0; }
    &:where(.is-open) {
      .main-side { display:block; }
    }
  }
  @media #{$break3open} {
    display: grid;
    grid-template-columns: pxToRem(240) 1fr;
    grid-template-rows:auto 1fr;
    grid-template-areas:  "header header"
                          "side main";
  }
}

.main-header {
  --p-bg-color: var(--color-generic-0);
  position:sticky; z-index:5; inset-block-start:0;
  display: flex;
  gap: pxToRem(12);
  padding: pxToRem(15) pxToRem(30);
  background-color: hsl(var(--p-bg-color));
  :where(.icon-button) { width:auto; align-self:center; }

  .theme-dark &{
    --p-bg-color: var(--color-dark-700);
  }

  @media #{$break1}, #{$break2} {
    padding: pxToRem(15);
  }
}

.main-side {
  position:sticky; z-index:5; inset-block-start:0; max-height:100vh;
}