---
const props = Astro.props;
---
<h2 {...props} class="heading-level-7 pink-heading-2">
  <slot />
</h2>

<style lang="scss">
  .pink-heading-2:not(:first-child) {
    margin-top: 3.25rem;
  }
  </style>