
<div class="table-with-scroll pink-table">
    <div class="table-wrapper">
    <table class="table is-remove-outer-styles is-table-layout-auto">
      <slot />
    </table>
    </div>
</div>

<style>
  .pink-table:not(:first-child){
    margin-block-start: 1.5rem;
  }
</style>