@use '../abstract' as *;
.card {
  --p-card-bg-color: var(--card-bg-color , var(--color-generic-0));
  --p-card-border-color: var(--card-border-color , var(--color-neutral-10));
  $padding: pxToRem(32);
  --p-card-padding: var(--card-padding, #{$padding});

  display: block;
  background: hsl(var(--p-card-bg-color));
  border-radius: var(--border-radius-medium);
  box-shadow: var(--shadow-small);
  padding: var(--p-card-padding);

  &.is-border-dashed { border:dashed pxToRem(1) hsl(var(--p-card-border-color)); }
  .theme-dark & {
    --p-card-bg-color: var(--color-neutral-190);
  }
}