@use '../abstract' as *;
.card {
  --p-card-bg-color: var(--card-bg-color , var(--color-neutral-0));
  --p-card-border-color: var(--color-border);
  $padding: pxToRem(32);
  --p-card-padding: var(--card-padding, #{$padding});

  display: block;
  background: hsl(var(--p-card-bg-color));
  border-radius: var(--border-radius-medium);
  box-shadow: var(--shadow-small);
  padding: var(--p-card-padding);
  border: solid 1px hsl(var(--p-card-border-color));

  .card-separator {
    padding-block-start: var(--p-card-padding);
    padding-inline: var(--p-card-padding);
    margin-block-start: var(--p-card-padding);
    margin-inline: calc(var(--p-card-padding) * -1);
    border-block-start: solid 1px hsl(var(--p-card-border-color));
  }
  &.is-border-dashed { border:dashed pxToRem(1) hsl(var(--p-card-border-color)); }
  &.is-no-shadow { box-shadow:none; }
  .theme-dark & {
    --p-card-bg-color: var(--color-neutral-300);
  }
}