.link {
  /* Light Theme */
  --p-text-color: var(--link-text-color, var(--p-text-color-defalut));
  --p-text-color-defalut: var(--color-secondary-120);
  /* End Light theme variables */

  color:hsl(var(--p-text-color)); cursor:pointer;
  &:hover, &:focus {
    .text { text-decoration:underline; }
  }

  /* Theme Dark */
  .theme-dark & {
    --p-text-color-defalut: var(--color-secondary-100);
  }
}