.pill {
  --p-pill-text-color:var(--pill-text-color, var(--color-neutral-100));

  color: hsl(var(--p-pill-text-color));
  background-color: hsl(var(--p-pill-text-color) / 0.2);
  display:inline-grid; place-content:center; padding-inline:12px; height:30px; border-radius:var(--border-radius-medium);
  font-size:14px; font-weight:500;

  &.is-disabled { --p-pill-text-color:var(--color-neutral-50);  }
  &.is-pending  { --p-pill-text-color:var(--color-warning-120); }
  &.is-failed   { --p-pill-text-color:var(--color-danger-120);  }
  &.is-success  { --p-pill-text-color:var(--color-success-100); }
}