@use '../abstract' as *;
.table {
  --p-table-bg-color: var(--color-generic-0);
  //--p-table-bg-even-row-color: var(--color-neutral-0);
  --p-table-border-color: var(--color-neutral-5);
  --p-tbody-color-text: var(--color-neutral-100);

  display: table;
  table-layout: fixed;
  border-collapse: collapse;
  background-color:hsl(var(--p-table-bg-color));
  box-shadow: var(--shadow-small);
  border-radius: var(--border-radius-small);
  width: 100%;
  :where(.table-thead-col, .table-col) {
    @include trim(); display:table-cell; box-sizing:content-box;
    padding-block:pxToRem(24); padding-inline:pxToRem(32);
    vertical-align:middle;
    > * {vertical-align:middle;}
    :where(.image) {
      $size: pxToRem(30);
      --size: #{$size};
      flex-shrink: 0;
      img { vertical-align:bottom; }
    }
  }
  :where(.table-thead-col) {
    padding-block:pxToRem(16); line-height:1.536;
  }
  :where(.table-col) {
    padding-block:pxToRem(16); block-size:pxToRem(48);
  }
  &-thead {
    display: table-header-group;
     border-bottom:solid pxToRem(1) hsl(var(--p-table-border-color));
    .table-row{ min-height:pxToRem(54); }
    &-col {
      --p-col-width: auto;
      inline-size: calc(var(--p-col-width) / 16 * 1rem);

      text-align:unset;
    }
  }
  &-tbody {
    display: table-row-group;
    color: hsl(var(--p-tbody-color-text));
  }
  &-tfoot {
    display: table-footer-group;
  }
  &-row {
    display: table-row;
    min-height: pxToRem(88);
    &:where(:not(:first-child)) { border-block-start:solid pxToRem(1) hsl(var(--p-table-border-color));}
    &:where(:last-child) {
      :where(.table-col:first-child) { border-end-start-radius:var(--p-border-radius); }
      :where(.table-col:last-child) { border-end-end-radius:var(--p-border-radius); }
    }
  }
  &-col {
    &:where(.is-main) { font-size:pxToRem(16); }
  }

  .theme-dark &{
    --p-table-bg-color: var(--color-neutral-190);
    //--p-table-bg-even-row-color: var(--color-dark-800);
    --p-table-border-color: var(--color-neutral-170);
    --p-tbody-color-text: var(--color-neutral-10);
    &-color{}
  }
  @media #{$break1}, #{$break2} {
    &.is-vertical{
      display: block;
      .table {
        &-thead { display:none; }
        &-tbody { display:block; }
        &-row { display: flex; flex-direction:column; }
        &-col {
          &:where([data-title])::before {
            content: attr(data-title) ": ";
            font-size: pxToRem(16);
            font-weight: 400;
          }
        }
      }
    }
  }
  @media #{$break3open} {
    :where(.table-thead-col, .table-col) { padding-inline-start:pxToRem(30); }
  }
}