@use '../abstract' as *;
.tag {
  $pill-height: pxToRem(32);
  --p-height: #{$pill-height};

  $padding-inline: pxToRem(12);
  --p-padding-inline: #{$padding-inline};

  /* Light Theme */
  --p-pill-text-color: var(--pill-text-color, var(--p-pill-text-color-default));
  --p-pill-bg-color: var(--pill-bg-color, var(--p-pill-bg-color-default));

  --p-pill-text-color-default:  var(--color-neutral-150);
  --p-pill-bg-color-default:    var(--color-neutral-10);

  --p-pill-text-color-hover:    var(--p-pill-text-color-default);
  --p-pill-bg-color-hover:      var(--color-neutral-30);

  --p-pill-text-color-active:   var(--p-pill-text-color-default);
  --p-pill-bg-color-active:     var(--color-neutral-50);

  --p-pill-text-color-disabled: var(--color-neutral-50);
  --p-pill-bg-color-disabled:   var(--color-neutral-10);

  --p-pill-text-color-success:  var(--color-success-120);
  --p-pill-bg-color-success:    var(--color-success-10);

  --p-pill-text-color-warning:  var(--color-warning-120);
  --p-pill-bg-color-warning:    var(--color-warning-10);

  --p-pill-text-color-danger:   var(--color-danger-120);
  --p-pill-bg-color-danger:     var(--color-danger-10);

  --p-pill-text-color-info:     var(--color-secondary-120);
  --p-pill-bg-color-info:       var(--color-secondary-10);
  /* End Light theme variables */

  color: hsl(var(--p-pill-text-color));
  background-color: hsl(var(--p-pill-bg-color));

  display:inline-flex; gap:pxToRem(4); justify-self:start; padding-inline:var(--p-padding-inline);
  height:var(--p-height); line-height:var(--p-height);  border-radius:calc(var(--p-height) / 2);
  font-size:14px; font-weight:400; -webkit-user-select:none; user-select:none;
  [class*="icon"] { align-self:center; }

  &.is-medium { $pill-height:pxToRem(40); --p-height:#{$pill-height}; }
  &.is-large  { $pill-height:pxToRem(44); --p-height:#{$pill-height}; }

  &:where(button, a) {
    &:where(:hover)       { --p-pill-text-color:var(--p-pill-text-color-hover);    --p-pill-bg-color:var(--p-pill-bg-color-hover); }
    &:where(:active)      { --p-pill-text-color:var(--p-pill-text-color-active);   --p-pill-bg-color: var(--p-pill-bg-color-active); }
    &:where(#{$disabled}) { --p-pill-text-color:var(--p-pill-text-color-disabled); --p-pill-bg-color:var(--p-pill-bg-color-disabled); }
  }

  &.is-success  { --p-pill-text-color:var(--p-pill-text-color-success);   --p-pill-bg-color:var(--p-pill-bg-color-success); }
  &.is-warning  { --p-pill-text-color:var(--p-pill-text-color-warning);   --p-pill-bg-color:var(--p-pill-bg-color-warning); }
  &.is-danger   { --p-pill-text-color:var(--p-pill-text-color-danger);    --p-pill-bg-color:var(--p-pill-bg-color-danger); }
  &.is-info     { --p-pill-text-color:var(--p-pill-text-color-info);      --p-pill-bg-color:var(--p-pill-bg-color-info); }

  /* Theme Dark */
  #{$theme-dark} & {
    --p-pill-text-color-default:  var(--color-neutral-50);
    --p-pill-bg-color-default:    var(--color-neutral-150);

    --p-pill-text-color-hover:    var(--color-neutral-50);
    --p-pill-bg-color-hover:      var(--color-neutral-120);

    --p-pill-text-color-active:   var(--color-neutral-50);
    --p-pill-bg-color-active:     var(--color-neutral-200);

    --p-pill-text-color-disabled: var(--color-neutral-100);
    --p-pill-bg-color-disabled:   var(--color-neutral-150);

    --p-pill-text-color-success:  var(--color-success-100);
    --p-pill-bg-color-success:    var(--color-success-200);

    --p-pill-text-color-warning:  var(--color-warning-100);
    --p-pill-bg-color-warning:    var(--color-warning-200);

    --p-pill-text-color-danger:   var(--color-danger-100);
    --p-pill-bg-color-danger:     var(--color-danger-200);

    --p-pill-text-color-info:     var(--color-secondary-100);
    --p-pill-bg-color-info:       var(--color-secondary-200);
  }
}