@use '../abstract' as *;

.alert {
  --p-alert-text-color:   var(--p-alert-text-color-default);
  --p-alert-bg-color:     var(--p-alert-bg-color-default);
  --p-alert-border-color: var(--p-alert-border-color-default);

  /* default */
  --p-alert-text-color-default:   var(--color-neutral-150);
  --p-alert-bg-color-default:     var(--color-neutral-0);
  --p-alert-border-color-default: var(--color-neutral-10);

  /* info */
  --p-alert-text-color-info:      var(--color-neutral-120);
  --p-alert-bg-color-info:        var(--color-secondary-10);
  --p-alert-border-color-info:    var(--color-secondary-50);

  /* success */
  --p-alert-text-color-success:   var(--color-success-120);
  --p-alert-bg-color-success:     var(--color-success-10);
  --p-alert-border-color-success: var(--color-success-50);

  /* warning */
  --p-alert-text-color-warning:   var(--color-warning-120);
  --p-alert-bg-color-warning:     var(--color-warning-10);
  --p-alert-border-color-warning: var(--color-warning-50);

  /* danger */
  --p-alert-text-color-danger:    var(--color-danger-120);
  --p-alert-bg-color-danger:      var(--color-danger-10);
  --p-alert-border-color-danger:  var(--color-danger-50);

  /*** End inner variables */

  /* use inner variables */
  color:            hsl(var(--p-alert-text-color));
  background-color: hsl(var(--p-alert-bg-color));
  border:           solid 0 hsl(var(--p-alert-border-color));

  /* other styles */
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-auto-flow: dense;
  gap: 8px;

  padding: pxToRem(16);
  border-width: pxToRem(1);
  border-radius: var(--border-radius-small);
  box-shadow: var(--shadow-small);

  /* grid-lcations */
  .x-button { grid-column: -1; }
  .buttons { grid-column:1 / -1; }

  .content {}
  .title   { font-weight:bold; }
  .message {}
  .button { color:inherit; }
  .x-button { color:inherit; }

  /* alert types */
  &.is-info {
    --p-alert-text-color:   var(--p-alert-text-color-info);
    --p-alert-bg-color:     var(--p-alert-bg-color-info);
    --p-alert-border-color: var(--p-alert-border-color-info);

  }
  &.is-success {
    --p-alert-text-color:   var(--p-alert-text-color-success);
    --p-alert-bg-color:     var(--p-alert-bg-color-success);
    --p-alert-border-color: var(--p-alert-border-color-success);
  }
  &.is-warning {
    --p-alert-text-color:   var(--p-alert-text-color-warning);
    --p-alert-bg-color:     var(--p-alert-bg-color-warning);
    --p-alert-border-color: var(--p-alert-border-color-warning);
  }
  &.is-danger {
    --p-alert-text-color:   var(--p-alert-text-color-danger);
    --p-alert-bg-color:     var(--p-alert-bg-color-danger);
    --p-alert-border-color: var(--p-alert-border-color-danger);;
  }

  .theme-dark & {
    /* default */
    --p-alert-text-color-default:   var(--color-neutral-50);
    --p-alert-bg-color-default:     var(--color-neutral-200);
    --p-alert-border-color-default: var(--color-neutral-150);

    /* info */
    --p-alert-text-color-info:      var(--color-secondary-100);
    --p-alert-bg-color-info:        var(--color-secondary-200);
    --p-alert-border-color-info:    var(--color-secondary-120);

    /* success */
    --p-alert-text-color-success:   var(--color-success-100);
    --p-alert-bg-color-success:     var(--color-success-200);
    --p-alert-border-color-success: var(--color-success-120);

    /* warning */
    --p-alert-text-color-warning:   var(--color-warning-100);
    --p-alert-bg-color-warning:     var(--color-warning-200);
    --p-alert-border-color-warning: var(--color-warning-120);

    /* danger */
    --p-alert-text-color-danger:    var(--color-danger-100);
    --p-alert-bg-color-danger:      var(--color-danger-200);
    --p-alert-border-color-danger:  var(--color-danger-120);
  }
}