@use '../abstract' as *;

.breadcrumbs {
  --p-text-color: var(--color-neutral-50);
  --p-text-color-current: var(--color-neutral-100);
  color: hsl(var(--p-text-color));
  -webkit-user-select:none; user-select:none;
  &-list { display:flex; }
  &-item {
    > * { padding-inline:pxToRem(16); }
    &::before { content:"/"; color:hsl(var(--p-text-color)); }
    &:last-child {
      color: hsl(var(--p-text-color-current));
    }
  }

  #{$theme-dark} & {
    --p-text-color: var(--color-neutral-50);
    --p-text-color-current: var(--color-neutral-30);
  }
}