@use '../abstract' as *;
.collapsible {
  --p-toggle-border-color: var(--color-blue-50);
  --p-toggle-optional-color: var(--color-neutral-600);

  &-item {
    &:where( :not(:last-child) ) { border-block-end:solid pxToRem(1) hsl(var(--p-toggle-border-color)); }
  }

  /* logic */
  &-wrapper {
    &:where([open]) {
      .icon-plus { display:none; }
    }
    &:where(:not([open])) {
      .icon-minus { display:none; }
    }
  }

  &-button {
    padding:pxToRem(25); cursor:pointer;
    display:flex; gap:pxToRem(10); align-items:baseline; font-size:pxToRem(20); line-height:1.75;
    .icon {align-self:center; margin-inline-start:auto; }
    &-optional { font-size:pxToRem(13); color:hsl(var(--p-toggle-optional-color)); }
  }

  &-content {
    padding:pxToRem(25); padding-block-start:0;
  }
  #{$theme-dark} & {
    --p-toggle-optional-color: var(--color-blue-75);
  }
}