@use '../abstract' as *;
.drop {
  --p-drop-bg-color: var(--color-generic-0);
  --p-drop-border-color: var(--color-neutral-10);

  position:absolute; inset-inline-start:pxToRem(-10); inset-block-end:calc(100% + #{pxToRem(10)});
  background-color:hsl(var(--p-drop-bg-color));
  color:hsl(var(--p-drop-text-color));
  border:solid pxToRem(1) hsl(var(--p-drop-border-color)); border-radius:var(--border-radius-small); box-shadow:var(--shadow-xsmall);
  min-width: pxToRem(240);
  max-width: pxToRem(280);

  &::before {
    content: ""; position:absolute; z-index:3; inset-inline-start:pxToRem(30); inset-block-end:pxToRem(-8);
    inline-size:pxToRem(8); block-size:pxToRem(8); clip-path:polygon(0% 0%, 100% 0%, 50% 100%);
    background-color:hsl(var(--p-drop-bg-color));
  }
  &-wrapper { position:relative; width:fit-content; }
  &-section {
    padding-inline:pxToRem(12); padding-block:pxToRem(16); max-width:pxToRem(520); margin-inline:auto;
    &:where(:nth-child(n +2)) {
      border-block-start:solid pxToRem(1) hsl(var(--p-drop-border-color));
    }
  }
  /**   states   **/
  /* align states */
  &.is-inline-end { inset-inline-end:pxToRem(-10); inset-inline-start:auto; }
  &.is-block-end {
    inset-block-start:calc(100% + #{pxToRem(10)}); inset-block-end:auto;
    &::before { inset-block-start:pxToRem(-8); inset-block-end:auto; clip-path:polygon(50% 0%, 100% 100%, 0% 100%); }
  }
  /* arrow align */
  &.is-arrow-end::before { inset-inline-end:pxToRem(30); inset-inline-start:auto; }
  &.is-arrow-center::before { inset-inline-start:50%; transform:translateX(-50%); }
  &.is-no-arrow::before { display:none; }

  &-list {
    font-size: var(--font-size-0);
  }
  &-button {
    --p-drop-text-color: var(--color-neutral-100);
    --p-drop-item-bg-color-hover: var(--color-neutral-5);
    --p-drop-item-bg-color-selected: var(--color-neutral-10);
    display:flex; gap:pxToRem(5); width:100%; padding-inline:pxToRem(12); padding-block:pxToRem(10);
    background-color:hsl(var(--p-drop-bg-color)); border-radius:var(--border-radius-small);
    -webkit-user-select:none; user-select:none; line-height: 1.43; /* 20 / 14 font-size */
    &:where(:focus-visible) { box-shadow:none; }
    &:where(:hover, :focus) { --p-drop-bg-color:var(--p-drop-item-bg-color-hover); outline:none; }
    &:where(.is-selected)   { --p-drop-bg-color:var(--p-drop-item-bg-color-selected); }
    .text + [class*="icon"] { margin-inline-start:auto; }
  }

  .theme-dark &{
    --p-drop-bg-color: var(--color-neutral-200);
    --p-drop-border-color: var(--color-neutral-170);
    &-button {
      --p-drop-item-text-color: var(--color-neutral-10);
      --p-drop-item-bg-color-hover: var(--color-neutral-170);
      --p-drop-item-bg-color-selected:  var(--color-neutral-190);
    }
  }
}
