@use '../abstract' as *;
.list {
  --p-list-text-color: var(--color-neutral-600);
  color: hsl(var(--p-list-text-color));
  display:flex; flex-direction:column; gap:pxToRem(15); font-size:pxToRem(13);

  &-item {
    > * { vertical-align:middle; }
    [class*="icon"]::before { vertical-align:middle; }
  }

  #{$theme-dark} & {
    --p-list-text-color: var(--color-blue-75);
  }
}