@use '../abstract' as *;

.main-header {
  --p-main-header-bg-color: var(--color-generic-0);
  --p-main-header-border-color: var(--color-neutral-5);

  display:flex; align-items:center; gap:pxToRem(24); height:pxToRem(72); padding-inline:pxToRem(24);
  background-color: hsl(var(--p-main-header-bg-color));
  border: solid pxToRem(1) hsl(var(--p-main-header-border-color));
  -webkit-user-select:none; user-select:none;

  &-end { display:flex; align-items:center; height:100%; gap:pxToRem(24); margin-inline-start:auto; }
  .user-profile { margin-inline-end:pxToRem(-24); }
}
