@use '../abstract' as *;
.modal {
  --p-modal-title-color: var(--color-neutral-200);
  --p-modal-text-color: var(--color-neutral-100);
  --p-modal-bg-color: var(--color-generic-0);

  $modal-padding: pxToRem(32);
  --p-modal-padding: #{$modal-padding};

  $header-padding-bottom: pxToRem(16);
  --padding-header-bottom: #{$header-padding-bottom};

  display:flex; flex-direction:column;
  width:100%; min-width:pxToRem(410); max-width:pxToRem(640); max-height:90vh;
  box-shadow: var(--shadow-large);
  background-color: hsl(var(--p-modal-bg-color));
  border-radius: var(--border-radius-medium);
  padding: var(--p-modal-padding);
  &.is-secondary {
    $modal-padding: pxToRem(24);
    --p-modal-padding: #{$modal-padding};

    $header-padding-bottom: pxToRem(16);
    --padding-header-bottom: #{$header-padding-bottom};
  }
  &-header {
    display:flex; gap:pxToRem(16); flex-shrink:0; padding-block-end:var(--padding-header-bottom);
    font-size:pxToRem(20); line-height:1;
    :where(.x-button) {
      --size: 30;
      margin-inline-start:auto; align-self:center;
    }
  }
  //&-title { font-size:var(--font-size-4); font-weight:500; color:hsl(var(--p-modal-title-color)); }
  &-content {
    display:grid; gap:pxToRem(24);
    overflow:auto; font-size:var(--font-size-1);
    padding:pxToRem(4); margin:pxToRem(-4); /* used to show focus outline */
  }
  &-footer  {
    display:grid; gap:pxToRem(16);
    flex-shrink:0; padding:var(--p-modal-padding); padding-block-end:pxToRem(0);
    margin-inline:calc(var(--p-modal-padding) * -1); margin-block-start:var(--p-modal-padding);
    border-block-start:solid pxToRem(1) hsl(var(--color-border));
  }
  &-curtain {
    position:fixed; z-index:50; inset:0;
    display:flex; justify-content:center; align-items:center; padding:pxToRem(10);
    background-color:hsl(var(--color-generic-100) / 0.7);
  }

  ::-webkit-scrollbar {
    opacity: 0;
    width: pxToRem(8);
    height: pxToRem(8);
  }

  ::-webkit-scrollbar-track {
    border-radius: pxToRem(4);
    margin-right: pxToRem(8);
  }

  ::-webkit-scrollbar-thumb {
    border-radius: pxToRem(4);
    background: hsl(var(--color-neutral-30));
  }

  ::-webkit-scrollbar-corner {
    background: hsl(var(--color-neutral-30));
    border-radius: pxToRem(6);
  }

  .theme-dark & {
    --p-modal-title-color: var(--color-neutral-10);
    --p-modal-text-color: var(--color-neutral-30);
    --p-modal-bg-color: var(--color-neutral-170);

    --color-border: var(--color-neutral-150);
  }
}