@use '../abstract' as *;
.modal {
  --p-modal-title-color: var(--color-neutral-200);
  --p-modal-text-color: var(--color-neutral-100);
  --p-modal-bg-color: var(--color-generic-0);
  display:flex; flex-direction:column;
  width:100%; max-width:pxToRem(640); max-height:90vh;
  box-shadow: var(--shadow-large);
  background-color: hsl(var(--p-modal-bg-color));
  border-radius: var(--border-radius-medium);
  padding: pxToRem(32);
  &-header {
    display:flex; flex-shrink:0; padding-block-end:pxToRem(24);
    font-size:pxToRem(20); line-height:1.75;
    :where(.x-button) {
      --size: 30;
      margin-inline-start:auto; align-self:center;
    }
  }
  //&-title { font-size:var(--font-size-4); font-weight:500; color:hsl(var(--p-modal-title-color)); }
  &-content {
    overflow:auto;
    padding:pxToRem(4); margin:pxToRem(-4); /* used to show focus outline */
  }
  &-footer  { flex-shrink:0; margin-block-start:pxToRem(32); }
  &-curtain {
    position:fixed; z-index:50; inset:0;
    display:flex; justify-content:center; align-items:center; padding:pxToRem(10);
    background-color:hsl(var(--color-generic-100) / 0.7);
  }

  .theme-dark & {
    --p-modal-title-color: var(--color-neutral-5);
    --p-modal-text-color: var(--color-neutral-30);
    --p-modal-bg-color: var(--color-neutral-190);
  }
}