@use '../abstract' as *;
.pagination {
  $button-size: pxToRem(32);
  --button-size: #{$button-size};

  display:flex; gap:pxToRem(20);
  &-list {
    display:flex; gap:pxToRem(8);
  }
  .button {
    flex-shrink:0; padding-inline:pxToRem(12);
    [class*="icon"]::before { vertical-align:middle; }
  }

  /* states */
  &.is-center { justify-content:center; }
  &.is-end    { justify-content:flex-end; }
}