@use '../abstract' as *;

.side-nav {
  display:flex; flex-direction:column; height:100%; padding:pxToRem(24);

  background: hsl(var(--color-generic-0));
  color: hsl(var(--color-neutral-100));

  &-top     { }
  &-main    { flex:1; overflow:auto; }
  &-bottom  { }

  //&-logo {
  //  display:block; padding-block:pxToRem(15);
  //  &-image { display:block; }
  //}

  &-section { }
  //&-subtitle { font-size:pxToRem(12); font-weight:300; line-height:3.33; text-transform:uppercase; }
  &-link {
    display:block; padding-block:pxToRem(12); padding-inline:pxToRem(16);
    font-size:pxToRem(16); line-height:1.5; border-radius:var(--border-radius-xsmall);
    [class*="icon"]::before { color:hsl(var(--color-neutral-100)); vertical-align:middle; }
    &:focus-visible   { box-shadow:none; }
    &.is-selected     { background-color:hsl(var(--color-neutral-5)); }
    &:hover, &:focus  { background-color:hsl(var(--color-neutral-0)); }
  }
}