@use '../abstract' as *;

.side-nav {
  --p-side-nav-bg-color:var(--color-generic-0);
  --p-side-nav-border-color:var(--color-neutral-5);
  display:flex; flex-direction:column; height:100%;

  background-color: hsl(var(--p-side-nav-bg-color));
  border: solid pxToRem(1) hsl(var(--p-side-nav-border-color));

  &-top     { }
  &-main    { flex:1; overflow:auto; }
  &-bottom  { }

  /* override drop partial */
  .drop {
    &-section {
      $padding: pxToRem(24);
      --section-padding-horizontal: #{$padding};
      --section-padding-vertical: #{$padding};
    }
    &-list { font-size:var(--font-size-1); }
    &-button {
      $padding-horizontal: pxToRem(16);
      $padding-vertical: pxToRem(12);
      --button-padding-horizontal: #{$padding-horizontal};
      --button-padding-vertical: #{$padding-vertical};
    }
  }

  .theme-dark & {
    --p-side-nav-bg-color:var(--color-neutral-200);
    --p-side-nav-border-color:var(--color-neutral-170);
  }
}