@use '../abstract' as *;

.tabs {
  --p-tabs-text-color:      var(--color-neutral-100);
  --p-tabs-bg-color:        var(--tabs-bg-color, var(--color-generic-0));
  --p-tabs-color-hover:     var(--color-neutral-5);
  --p-tabs-color-selected:  var(--color-primary-110);

  position: relative;
  background-color: hsl(var(--p-tabs-bg-color));
  &-list{ display:flex; gap:pxToRem(16); overflow:auto; height:pxToRem(50); }
  &-item { }
  &-button-scroll {
    position:absolute; z-index:3; top:50%; transform:translateY(-50%); opacity:0.75; transition:var(--transition);
    color:hsl(var(--p-tabs-bg-color)); font-size:var(--font-size-3);
    > * { margin-inline: -3px;}
    &:where(:hover, :focus) { opacity:1; }
    &.is-start  { inset-inline-start:0; }
    &.is-end    { inset-inline-end:0 }
  }
  &-button {
    position:relative; display:flex; align-items:center; height:100%;
    padding-inline:pxToRem(4); padding-block-start:pxToRem(4); padding-block-end:pxToRem(9);
    font-size:var(--font-size-0); color:hsl(var(--p-tabs-text-color)); user-select:none;
    .text {
      display:flex; align-items:center; padding-inline:pxToRem(12); width:100%; height:pxToRem(38); border-radius:var(--border-radius-small);
    }
    &::before{
      content:""; display:block; height:pxToRem(2); background-color:transparent;
      position:absolute; inset-inline:0; inset-block-end:0;
      border-radius:var(--border-radius-xsmall);
    }
    &::after {
      content:""; display:block; border-radius:var(--border-radius-small);
    }
    &:where(:hover, &:focus){
      .text { background-color: hsl(var(--p-tabs-color-hover)); }
    }
    &:where(.is-selected) {
      color:hsl(var(--p-tabs-color-selected));
      &::before{ background-color:hsl(var(--p-tabs-color-selected)); }
    }
  }
  .theme-dark & {
    --p-tabs-text-color:      var(--color-neutral-30);
    --p-tabs-bg-color:        var(--color-neutral-190);
    --p-tabs-color-hover:     var(--color-neutral-170);
    --p-tabs-color-selected:  var(--color-primary-110);
  }
}

/* shadow scroll horizontal */
.scroll-shadow-horizontal {
  /* Cover settings */
  --cover-size: 50px;
  --cover-fade: 10%;
  --cover-color: var(--p-tabs-bg-color);
  --shadow-color: var(--p-tabs-color-selected);

  /* Shadow settings */
  --shadow-size: 20px;
  --shadow-intensity: 50%;

  background:
          /* Shadow covers */
          linear-gradient(to right, hsl(var(--cover-color)) var(--cover-fade), hsl(var(--cover-color) / 0)),
          linear-gradient(to right, hsl(var(--cover-color) / 0), hsl(var(--cover-color)) calc(100% - var(--cover-fade))) 100% 0,
            /* Shadows */
          radial-gradient(farthest-side at 0 50%, hsl(var(--shadow-color) / var(--shadow-intensity)), hsl(var(--cover-color) / 0)),
          radial-gradient(farthest-side at 100% 50%, hsl(var(--shadow-color) / var(--shadow-intensity)), hsl(var(--cover-color) / 0)) 100% 0;

  background-repeat: no-repeat;
  background-size: var(--cover-size) 100%, var(--cover-size) 100%, var(--shadow-size) 100%, var(--shadow-size) 100%;
  background-attachment: local, local, scroll, scroll;

  /* remove Scroll */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  /* Webkit */
  &::-webkit-scrollbar {
    display: none;
  }

  .theme-dark & {
    --shadow-color: var(--color-neutral-10);
  }
}
