@use '../abstract' as *;
.top-cover {
  --p-cover-bg-color: var(--color-generic-0);
  --p-cover-border-color: var(--color-neutral-10);

  background-color: hsl(var(--p-cover-bg-color));
  border-block-end: solid pxToRem(1) hsl(var(--p-cover-border-color) / 50%);

  :where(.container) {
    .tabs{ margin-block-end:calc(var(--p-container-padding-block) * -1);}
  }
  [class*="heading-level-"] { margin-block-start:pxToRem(20); margin-block-end:pxToRem(68); }


  .theme-dark & {
    --p-cover-bg-color: var(--color-dark-800);
    --p-cover-border-color: var(--color-dark-700);
  }
}