@use '../abstract' as *;

.user-profile {
  --p-title-color-text: var(--color-neutral-30);
  display:flex; flex-direction:row;
  height:100%; border-inline-start:solid pxToRem(1) hsl(var(--p-main-header-border-color));
  &-button {
    position:relative; z-index:2;
    display:flex; height:100%; min-width:pxToRem(240); align-items:center; padding-inline:pxToRem(24); gap:pxToRem(12);
    > * { flex-shrink:0; }
  }
  &-info {
    flex:1; font-size:var(--font-size-0);
    > * { display:block; }
    .name   { @include trim(1); }
    .title  { @include trim(1); color:hsl(var(--p-title-color-text));}
  }
  .drop {
    inset-inline-start:0; inset-block-start:calc(100% + pxToRem(1)); border-start-start-radius:0; border-start-end-radius:0;
  }
}