:root {
  --transform-direction: 1;
  --start-direction: left;
  --end-direction: right;

  &[dir="rtl"] {
    --transform-direction: -1;
    --start-direction: right;
    --end-direction: left;
  }
}