@use '../abstract' as *;

:root {
  --shadow-color: var(--color-neutral-150);

  $shadow-small:   pxToRem(0) pxToRem(16) pxToRem(32) hsl(var(--shadow-color) / 0.02);
  --shadow-small:   #{$shadow-small};

  $shadow-large:    pxToRem(0) pxToRem(16) pxToRem(32) hsl(var(--shadow-color) / 0.04);
  --shadow-large:   #{$shadow-large};

  #{$theme-dark} {
    --shadow-color: var(--color-neutral-500);

    $shadow-small:   pxToRem(0) pxToRem(16) pxToRem(32) hsl(var(--shadow-color) / 0.5);
    --shadow-small:   #{$shadow-small};

    $shadow-large:    pxToRem(0) pxToRem(16) pxToRem(32) hsl(var(--shadow-color) / 1);
    --shadow-large:   #{$shadow-large};
  }
}