/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../../ui/fonts/inter/inter-v8-latin-regular.woff2') format('woff2');
}
/* inter-600 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('../../ui/fonts/inter/inter-v8-latin-600.woff2') format('woff2');
}