/* source-code-pro-regular - latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../../ui/fonts/source-code-pro/source-code-pro-v20-latin-regular.woff2') format('woff2');
}
