.k-section{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}
.k-flex-col{
    flex-direction: column;

}

.k-wrap{
    flex-wrap: wrap;
}

.mx-1 {
    margin-block: 1rem;
}
.mb-1{
    margin-bottom: 1rem;
}
.mt-1{
    margin-top: 1rem;
}
.mt-2{
    margin-top: 2rem;
}
.mt-3{
    margin-top: 3rem;
}
.mt-10{
    margin-top: 10rem;
}
.mr-10{
    margin-right: 10rem;
}
.ml-10{
    margin-left: 10rem;
}
.ml-20{
    margin-left: 20rem;
}

.max-w-40{
    max-width: 40rem;
}

#forms{
    max-width: 40rem;
    padding: 1rem;
}

#content{
    max-width: 80rem;
    margin: 0 auto;
}

.nav-top{
        top: 4rem !important;
}

#main {
    min-height: 100vh;
}

#settings-aside{
    max-width: 20rem;
}
html{
    scroll-behavior: smooth;

}