/* #catalog-theme-toggle {
    position: fixed;
    z-index: 999;
    right: 0;
    margin: 0.5rem;
} */

.k-section{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}
.k-flex-col{
    flex-direction: column;

}

.k-wrap{
    flex-wrap: wrap;
}

.k-block{


}

.mx-1 {
    margin-block: 1rem;
}
.mb-1{
    margin-bottom: 1rem;
}
.mt-1{
    margin-top: 1rem;
}
.mt-2{
    margin-top: 2rem;
}
.mt-3{
    margin-top: 3rem;
}
.mt-10{
    margin-top: 10rem;
}
.mr-10{
    margin-right: 10rem;
}
.ml-10{
    margin-left: 10rem;
}
.ml-20{
    margin-left: 20rem;
}

.max-w-40{
    max-width: 40rem;
}

/* #buttons {
background: linear-gradient(45deg, transparent 49%, #55555510 49% 51%, transparent 51%),
linear-gradient(-45deg, transparent 49%, #55555510 49% 51%, transparent 51%);
background-size: 1em 1em;
} */

#forms{
    max-width: 40rem;
    padding: 1rem;
}

#content{
    max-width: 80rem;
    margin: 0 auto;
}

.nav-top{
        top: 4rem !important;
}