---
import { isLast } from "src/helpers/array";

const path = Astro.url.pathname.slice(1).split("/");
---

{
  path.map((item, index) => (
    // Breadcrumbs aren't clickable because there are only two levels, e.g. Component / Button,
    // and the first level doesn't have a page.
    <span
      class="u-capitalize"
      style={`color: hsl(var(--color-neutral-${
        isLast(index, path) ? "100" : "50"
      }))`}
    >
      {index > 0 && index < path.length ? " / " : ""}
      {item.replaceAll("-", " ")}
    </span>
  ))
}
