---
import Breadcrumb from "@components/layout/Breadcrumb.astro";
const {frontmatter} = Astro.props;
---



  <div class="top-cover u-padding-block-end-56">
    <div class="container">
        <Breadcrumb />

<span class="u-flex u-gap-16 u-flex-justify-center u-margin-block-start-40">
            <h1 class="heading-level-3 ">
                {frontmatter?.title} 
            </h1> <code class="u-un-break-text">{frontmatter?.class}</code>
            </span>
    {frontmatter?.description && 
    <p class="body-text-level-1 u-margin-block-start-8">
    {frontmatter.description}
    </p>
    }
    </div>
</div>