---
import ThemeToggle from "./ThemeToggle.astro";

async function getRepoStars() {
  const apiUrl = `https://api.github.com/repos/appwrite/pink`;
  const response = await fetch(apiUrl);
  const data = await response.json();
  const numStars = data.stargazers_count;
  if (numStars >= 1000) {
    const numStarsStr = (numStars / 1000).toFixed(1); // Round to one decimal place
    return `${numStarsStr}k`;
  } else {
    return numStars;
  }
}
---

<script>
  const navBtns = document.querySelectorAll(".nav-btn");
  navBtns.forEach((btn) => {
    btn.addEventListener("click", () => {
      const gridSideEl = document.querySelector(".grid-with-side");
      gridSideEl?.classList.toggle("is-open");

      const isOpen = gridSideEl?.classList.contains("is-open");

      const btnIcons = document.querySelectorAll(".nav-btn span");
      btnIcons.forEach((icon) => {
        icon.className = isOpen ? "icon-x" : "icon-menu";
      });
    });
  });

  const metaEl = document.getElementById("meta");
  if (metaEl) {
    metaEl.innerText = navigator.platform.includes("Mac") ? "⌘" : "Ctrl";
  }
</script>

<header class="main-header u-padding-inline-end-0">
  <button class="icon-button is-not-desktop nav-btn" aria-label="Open Menu">
    <span aria-hidden="true" class="icon-menu"></span>
  </button>
  <a class="logo" href="/">
    <img src="/logo.svg" width="140" height="30" alt="PinkUI" />
  </a>
  <div class="main-header-end u-margin-inline-end-16">
    <ul class="buttons-list is-with-padding">
      <li class="buttons-list-item">
        <button
          class="input-text u-flex u-cross-center u-padding-inline-8 u-border-radius-8"
          id="search-btn"
          aria-label="search"
        >
          <span class="icon-search" aria-hidden="true"></span>
          <span
            class="text u-margin-inline-start-4 is-not-mobile"
            aria-hidden="true">search</span
          >
          <div
            class="u-flex u-cross-center u-gap-4 u-margin-inline-start-32 is-not-mobile"
          >
            <kbd id="meta" class="kbd">Ctrl</kbd>
            <!--<span>+</span>-->
            <kbd class="kbd">K</kbd>
          </div>
        </button>
      </li>
      <li class="buttons-list-item is-not-mobile u-padding-inline-0">
        <a
          href="https://github.com/appwrite/pink"
          title="GitHub"
          target="_blank"
          rel="noopener noreferrer"
          class="button is-text"
        >
          <span class="icon-github" aria-hidden="true"></span>
          <span class="text">GitHub</span>
          <span class="tag u-text-center">{getRepoStars()}</span>
        </a>
      </li>
      <li class="buttons-list-item u-padding-inline-0">
        <ThemeToggle />
      </li>
    </ul>
  </div>
</header>

<style lang="scss">
  .input-text {
    padding-block: 0.32rem;

    .button {
      display: flex;
      justify-content: center;
      min-inline-size: 1.5rem;
      block-size: 1.5rem;
      padding-inline: 0.1rem;
    }
  }
</style>
