---
import ThemeToggle from "./ThemeToggle.astro";

async function getRepoStars() {
  const apiUrl = `https://api.github.com/repos/appwrite/appwrite`;
  const response = await fetch(apiUrl);
  const data = await response.json();
  const numStars = data.stargazers_count;
  if (numStars >= 1000) {
    const numStarsStr = (numStars / 1000).toFixed(1); // Round to one decimal place
    return `${numStarsStr}k`;
  } else {
    return numStars;
  }
}
---

<script>
  const searchBtn = document.getElementById("search-btn");
  const searchModal = document.getElementById("search");

  searchBtn?.addEventListener("click", () => {
    searchModal?.setAttribute("open", "true");
    document
      .querySelector(".pagefind-ui__search-input")
      ?.focus({ preventScroll: true });
  });
</script>

<header class="main-header u-padding-inline-end-0">
  <button class="icon-button is-no-desktop" aria-label="Open Menu">
    <span aria-hidden="true" class="icon-menu"></span>
  </button>
  <a class="logo" href="/">
    <img src="/logo.svg" width="140" height="30" alt="PinkUI" />
  </a>
  <div class="main-header-end u-margin-inline-end-16">
    <ul class="buttons-list">
      <li class="buttons-list-item is-no-mobile">
        <button class="button is-only-icon is-text" id="search-btn" aria-label="search">
          <span class="icon-search" aria-hidden="true"></span>
        </button>
      </li>
      <li class="buttons-list-item is-no-mobile">
        <a
          href="https://github.com/appwrite"
          target="_blank"
          rel="noopener noreferrer"
          class="button is-text"
        >
          <span class="icon-github" aria-hidden="true"></span>
          <span class="text">GitHub</span>
          <span class="tag">{getRepoStars()}</span>
        </a>
      </li>
      <li class="buttons-list-item u-mobile-border-width-0">
        <ThemeToggle />
      </li>
    </ul>
  </div>
</header>
