  <div x-data="{theme: getTheme()}">  
    <template x-if="theme === 'light'">
      <button class="button is-only-icon is-text" x-on:click="toggleTheme(); theme = 'dark'" aria-label="Replace to Dark Mode Theme">
        <span class="icon-sun fs-20" aria-hidden="true"></span>
    </button>
  </template>
  <template x-if="theme === 'dark'">
    <button class="button is-only-icon is-text" x-on:click="toggleTheme(); theme = 'light'" aria-label="Replace to Light Mode Theme">
      <span class="icon-moon fs-20" aria-hidden="true"></span>
    </button>
  </template>
</div>

  <script is:inline>
    function getTheme(){
      const defaultTheme = window.matchMedia('(prefers-color-scheme: dark)');
      const theme = localStorage.getItem("theme") ?? (defaultTheme.matches ? "dark" : "light");  
      return theme
    }
  

  function toggleTheme() {
      const defaultTheme = window.matchMedia('(prefers-color-scheme: dark)');
      const theme = localStorage.getItem("theme") ?? (defaultTheme.matches ? "dark" : "light");    
      if (theme === 'dark') {
        localStorage.setItem("theme", "light")
        document.body.classList.remove('theme-dark')
        document.body.classList.add('theme-light')
    } else {
        localStorage.setItem("theme", "dark")
        document.body.classList.remove('theme-light')
        document.body.classList.add('theme-dark')
    }
}
</script>


<style>
  .fs-20{
    font-size: 20px;
  }
</style>