---
import { log } from "astro/dist/core/logger/core";

interface Props {
  value: string;
}
const { value } = Astro.props;
---

<div class="u-position-absolute u-inset-inline-end-8 u-inset-block-start-8">
  <button
    class="button is-small is-text is-only-icon copy"
    aria-label="Copy code"
    data-copy={value}
  >
    <span class="icon-duplicate" aria-hidden="true"></span>
  </button>
</div>

<script is:inline>
  async function securedCopy(value) {
    try {
      await navigator.clipboard.writeText(value);
    } catch {
      return false;
    }

    return true;
  }

  function unsecuredCopy(value) {
    const textArea = document.createElement("textarea");
    textArea.value = value;
    document.body.appendChild(textArea);
    textArea.focus();
    textArea.select();

    let success = true;
    try {
      document.execCommand("copy");
    } catch {
      success = false;
    } finally {
      document.body.removeChild(textArea);
    }

    return success;
  }

  async function copy(value) {
    // securedCopy works only in HTTPS environment.
    // unsecuredCopy works in HTTP and only runs if securedCopy fails.
    const success = (await securedCopy(value)) || unsecuredCopy(value);
    return success;
  }

  document.querySelectorAll(".copy").forEach((button) => {
    button.addEventListener("click", (e) => {
      const value = e.currentTarget.getAttribute("data-copy");
      copy(value);
    });
  });
</script>
