<article class="alert is-success is-no-bg">
    <div class="alert-grid  u-height-100-percents">
        <span class="icon-check-circle" aria-hidden="true"></span>
        <div class="content">
            <p class="message"><b>Do</b></p>
            <div style="margin-block-start: -1rem;">
                <slot/>
            </div>
        </div>
    </div>
</article>