<article class="alert is-success">
    <div class="alert-grid">
        <span class="icon-check-circle" aria-hidden="true"></span>
        <div class="content">
            <p class="message"><b>Do</b></p>
            <span style="margin-block-start: -1rem;">
            <slot/>
            </span>
        </div>
    </div>
</article>