<section class="alert is-danger is-no-bg">
  <div class="alert-grid u-height-100-percent">
    <span class="icon-x-circle" aria-hidden="true"></span>
    <div class="content">
      <h3 class="message"><b>Don't</b></h3>
      <div style="margin-block-start: -0.5rem;">
        <slot />
      </div>
    </div>
  </div>
</section>

<style lang="scss" >
@use "@appwrite.io/pink/src/abstract" as *;
    @media #{$break2open} {
        .alert{
            order: 2
        }
    }

</style>