<article class="alert is-danger">
    <div class="alert-grid">
        <span class="icon-x-circle" aria-hidden="true"></span>
        <div class="content">
            <p class="message"><b>Don't</b></p>
            <span>
                <slot/>
            </span>
        </div>
    </div>
</article>