<!-- TODO: fix line not filling box height -->
<article class="alert is-danger is-no-bg">
  <div class="alert-grid">
    <span class="icon-x-circle" aria-hidden="true"></span>
    <div class="content">
      <p class="message"><b>Don't</b></p>
        <span style="margin-block-start: -1rem;">
        <slot />
      </span>
    </div>
  </div>
</article>
