<!-- TODO: fix line not filling box height -->
<article class="alert is-danger is-no-bg">
  <div class="alert-grid u-height-100-percents">
    <span class="icon-x-circle" aria-hidden="true"></span>
    <div class="content">
      <p class="message"><b>Don't</b></p>
      <div style="margin-block-start: -1rem;">
        <slot />
      </div>
    </div>
  </div>
</article>
