---
import iconsJson from "@appwrite.io/pink-icons/dist/info.json";
import IconsGrid from "./IconsGrid.astro";

const brandIcons = await Astro.glob("../../public/icons/grayscale/light/*.svg");

const brandIconsPaths = brandIcons.map((icon) => {
  return icon.default;
});

const nonBrandIcons = Object.keys(iconsJson).filter((icon) => {
  return !brandIconsPaths.some((brandIcon) => {
    return brandIcon.includes(icon);
  });
});
---

<section class="common-section u-margin-block-start-36">
  <IconsGrid icons={nonBrandIcons} />
</section>
