---
import CodePreview from "./CodePreview.svelte";

const code = await Astro.slots.render("default");
const props = Astro.props;
---

<section
  class="common-section u-margin-block-start-36"
  x-data="{ show: 'prev' }"
>
  <div class="tabs">
    <ul class="tabs-list">
      <li class="tabs-item">
        <button
          class="tabs-button"
          x-on:click="show = 'prev'"
          :class="show === 'prev' ? 'is-selected' : ''"
        >
          <span class="text">Preview</span>
        </button>
      </li>
      <li class="tabs-item">
        <button
          class="tabs-button"
          x-on:click="show = 'html'"
          :class="show === 'html' ? 'is-selected' : '' "
        >
          <span class="text">HTML</span>
        </button>
      </li>
    </ul>
  </div>
  <!-- TODO: Progressive enhancement -->
  <div
    class={`box u-margin-block-start-8 ${
      props.overflow ? "" : "u-overflow-hidden"
    }`}
    style="--box-border-radius:  var(--border-radius-medium);"
  >
    <template x-if="show === 'prev'">
      <div
        class:list={[
          "u-flex u-gap-32 u-flex-wrap",
          { "u-main-center": props?.center },
          { "u-flex-vertical": props?.vertical },
          { "u-cross-center": props?.vertical && props?.center },
        ]}
      >
        <slot />
      </div>
    </template>
  </div>
  <div
    class={`box u-margin-block-start-8 ${
      props.overflow ? "" : "u-overflow-hidden"
    }`}
    style="--box-border-radius:  var(--border-radius-medium);"
  >
    <CodePreview code={code} language="html" lineNumbers />
  </div>
</section>
