---
import CodePreview from "@components/CodePreview.svelte";

const slot = await Astro.slots.render("default");
const preview = slot
  .replaceAll(/<only-html>.*?<\/only-html>/gs, "")
  .replaceAll(/<only-preview>(.*?)<\/only-preview>/gs, "$1");
const html = slot
  .replaceAll(/<only-html>(.*?)<\/only-html>/gs, "$1")
  .replaceAll(/<only-preview>.*?<\/only-preview>/gs, "");
const props = Astro.props;
---

<section
  class="common-section u-margin-block-start-36"
  x-data="{ show: 'prev' }"
>
  <div class="tabs">
    <ul class="secondary-tabs is-large">
      <li class="secondary-tabs-item">
        <button
          class="secondary-tabs-button"
          x-on:click="show = 'prev'"
          :disabled="show === 'prev'"
        >
          <span class="text">Preview</span>
        </button>
      </li>
      <li class="secondary-tabs-item">
        <button
          class="secondary-tabs-button"
          x-on:click="show = 'html'"
          :disabled="show === 'html'"
        >
          <span class="text">HTML</span>
        </button>
      </li>
    </ul>
  </div>

  <div x-bind:class="show !== 'prev' ? 'u-hide' : ''">
    <div
      class="box u-margin-block-start-8 u-overflow-x-auto"
      style="--box-border-radius:  var(--border-radius-medium);"
    >
      <div
        class:list={[
          { "u-flex u-gap-32 u-flex-wrap": !props?.noFlex },
          { "u-main-center": props?.center },
          { "u-flex-vertical": props?.vertical },
          { "u-cross-center": props?.vertical && props?.center },
        ]}
        set:html={preview}
      />
    </div>
  </div>
  <div x-bind:class="show === 'prev' ? 'u-hide' : ''">
    <div
      class={`box u-margin-block-start-8 ${
        props.overflow ? "" : "u-overflow-hidden"
      }`}
      style="--box-border-radius:  var(--border-radius-medium);"
    >
      <CodePreview client:load code={html} language="html" lineNumbers />
    </div>
  </div>
</section>
