<section class="common-section u-margin-block-start-36">
  <div class="box u-margin-block-start-8" style="border-radius: 1rem;">
    <div class="u-flex u-gap-32 u-flex-wrap common-section u-main-center">
      <slot />
    </div>
  </div>
</section>
