---
interface Props {
  align?: "start" | "center" | "end";
}

const align = Astro.props.align || "center";
---

<div class="box u-margin-block-start-24" style="border-radius: 1rem;">
  <div class={`u-flex u-gap-32 u-flex-wrap common-section u-main-${align}`}>
    <slot />
  </div>
</div>
