@use 'abstract' as *;

/* hide */
.u-hide             { display:none!important; }
.u-opacity-0        { opacity:0!important; }
.u-overflow-hidden  { overflow:hidden!important; }

/* text */
.u-small            { font-size:pxToRem(14); }
.u-bold             { font-weight:600; }
.u-text-center      { text-align:center; }
.u-line-height-1-5  { line-height:1.5; }
.u-break-word       { @include break-word; white-space:initial; }

/* display */
.u-block          { display:block; }
.u-grid           { display:grid; }
.u-flex           { display:flex; }
.u-inline-flex    { display:inline-flex; }

.u-gap-12         { gap:pxToRem(12); }
.u-gap-16         { gap:pxToRem(16); }

.u-flex-vertical    { flex-direction:column; }
.u-stretch          { flex:1; }
.u-width-full-line  { width:100%; }
.u-flex-basis-50-percent    { flex-basis:50%; }


/* alignments */
.u-main-center        { justify-content:center; }
.u-main-space-between { justify-content:space-between; }
.u-main-end           { justify-content:end; }

.u-cross-center       { align-items:center; }
.u-cross-child-center { align-self:center; }
.u-cross-child-end    { align-self:end; }

/* box model */
.u-padding-inline-0       { padding-inline:0; }

.u-margin-inline-start-auto { margin-inline-start:auto; }

.u-margin-block-start-8   { margin-block-start:pxToRem(8); }
.u-margin-block-start-12  { margin-block-start:pxToRem(12); }
.u-margin-block-start-20  { margin-block-start:pxToRem(20); }
.u-margin-block-start-24  { margin-block-start:pxToRem(24); }
.u-margin-block-start-32  { margin-block-start:pxToRem(32); }

.u-margin-inline-end-16   { margin-inline-end:pxToRem(16); }

/* alerts colors */
.u-disabled { color:hsl(var(--color-text-disabled)); }
.u-info     { color:hsl(var(--color-text-info)); }
.u-error    { color:hsl(var(--color-text-danger)); }
.u-warning  { color:hsl(var(--color-text-warning)); }
.u-success  { color:hsl(var(--color-text-success)); }

/* responsive state classes */
.is-only-mobile {
  @media #{$break2open} { display:none!important; }
}

.is-only-tablet {
  @media #{$break1}, #{$break3open} { display:none!important; }
}

.is-only-desktop {
  @media #{$break1}, #{$break2} { display:none!important; }
}

.is-no-desktop {
  @media #{$break3open} { display:none!important; }
}