@use 'abstract' as *;

/* hide */
.u-hide { display:none!important; }

/* font-size */


/* display */
.u-flex   { display:flex; }
.u-gap-10 { gap:pxToRem(10); }

/* box model */
.u-padding-inline-0       { padding-inline:0; }

.u-margin-block-start-12  { margin-block-start:pxToRem(12); }
.u-margin-inline-end-16   { margin-inline-end:pxToRem(16); }

/* alerts colors */
.u-error    { color:hsl(var(--color-danger-120)); }
.u-warning  { color:hsl(var(--color-warning-120)); }
.u-good     { color:hsl(var(--color-success-100)); }

/* responsive state classes */
.is-only-mobile {
  @media #{$break2open} { display:none!important; }
}

.is-only-tablet {
  @media #{$break1}, #{$break3open} { display:none!important; }
}

.is-only-desktop {
  @media #{$break1}, #{$break2} { display:none!important; }
}

.is-no-desktop {
  @media #{$break3open} { display:none!important; }
}