@use "abstract" as *;

/* hide */
.u-hide       { display:none!important; }
.u-opacity-0  { opacity:0!important;    }
.u-opacity-20 { opacity:0.2!important;  }
.u-opacity-50 { opacity:0.5!important;  }

.u-overflow-hidden  { overflow:hidden!important;  }
.u-overflow-visible { overflow:visible!important; }
.u-overflow-x-auto  { overflow-x:auto!important;  }
.u-overflow-y-auto  { overflow-y:auto!important;  }

/* text */
.u-direction-ltr    { direction:ltr; }
.u-direction-rtl    { direction:rtl; }
.u-x-small          { font-size:pxToRem(12); }
.u-small            { font-size:pxToRem(14); }
.u-font-size-32     { font-size:pxToRem(32); }
.u-bold             { font-weight:600; }
.u-normal           { font-weight:normal; }
.u-text-center      { text-align:center; }
.u-line-height-1    { line-height:1; }
.u-line-height-1-25 { line-height:1.25; }
.u-line-height-1-5  { line-height:1.5; }
.u-line-height-2    { line-height:2; }
.u-break-word       { @include break-word; white-space:initial; }
.u-break-all        { @include break-all; white-space:initial; }
.u-trim             { @include trim; }
.u-trim-1           { @include trim(1); }
.u-trim-2           { @include trim(2); }
.u-trim-3           { @include trim(3); }
.u-trim-start       { @include trim; direction:rtl; text-align:right; }
.u-un-break-text    { white-space:nowrap!important; }
.u-capitalize       { text-transform:capitalize; }
.u-icon-small       { font-size:var(--icon-size-small); }

/* Mouse Cursor */
.u-cursor-pointer       { cursor:pointer;       }

/* color text */
.u-color-text-disabled  { color:hsl(var(--color-text-disabled)); }
.u-color-text-offline   { color:hsl(var(--color-text-offline));  }
.u-color-text-info      { color:hsl(var(--color-text-info));     }
.u-color-text-danger    { color:hsl(var(--color-text-danger));   }
.u-color-text-warning   { color:hsl(var(--color-text-warning));  }
.u-color-text-success   { color:hsl(var(--color-text-success));  }

.u-color-text-gray      { color:hsl(var(--color-text-gray));     }
.u-color-text-pink      { color:hsl(var(--color-pink-text));     }

/* position */

.u-position-sticky      {
  --inset-block-start:  auto;
  --inset-block-end:    auto;
  --inset-inline-start: auto;
  --inset-inline-end:   auto;

  position:sticky;
  inset-block: var(--inset-block-start) var(--inset-block-end);
  inset-inline: var(--inset-inline-start) var(--inset-inline-end);
}
.u-position-relative    { position:relative; }
.u-position-absolute    { position:absolute; }

.u-inset-inline-start-8 { inset-inline-start:pxToRem(8);  }
.u-inset-inline-end-8   { inset-inline-end:pxToRem(8);    }
.u-inset-block-start-8  { inset-block-start:pxToRem(8);   }
.u-inset-block-end-8    { inset-block-end:pxToRem(8);     }

.u-z-index-0   { z-index:0;  }
.u-z-index-1   { z-index:1;  }
.u-z-index-5   { z-index:5;  }
.u-z-index-10  { z-index:10; }
.u-z-index-15  { z-index:15; }
.u-z-index-20  { z-index:20; }

/* display */
.u-block          { display:block;        }
.u-inline         { display:inline;       }
.u-grid           { display:grid;         }
.u-flex           { display:flex;         }
.u-inline-flex    { display:inline-flex;  }

.u-box-sizing-content { box-sizing:content-box; }
.u-sep-inline-start   { border-inline-start:solid pxToRem(1) hsl(var(--color-border)); }
.u-sep-block-start    { border-block-start:solid pxToRem(1) hsl(var(--color-border)); }
.u-sep-block-end      { border-block-end:solid pxToRem(1) hsl(var(--color-border)); }

.u-gap-2          { gap:pxToRem(2);   }
.u-gap-4          { gap:pxToRem(4);   }
.u-gap-8          { gap:pxToRem(8);   }
.u-gap-12         { gap:pxToRem(12);  }
.u-gap-16         { gap:pxToRem(16);  }
.u-gap-24         { gap:pxToRem(24);  }
.u-gap-32         { gap:pxToRem(32);  }

.u-column-gap-2   { column-gap:pxToRem(2);  }
.u-column-gap-4   { column-gap:pxToRem(4);  }
.u-column-gap-8   { column-gap:pxToRem(8);  }
.u-column-gap-12  { column-gap:pxToRem(12); }
.u-column-gap-16  { column-gap:pxToRem(16); }
.u-column-gap-24  { column-gap:pxToRem(24); }

.u-row-gap-2      { row-gap:pxToRem(2);  }
.u-row-gap-4      { row-gap:pxToRem(4);  }
.u-row-gap-8      { row-gap:pxToRem(8);  }
.u-row-gap-12     { row-gap:pxToRem(12); }
.u-row-gap-16     { row-gap:pxToRem(16); }
.u-row-gap-24     { row-gap:pxToRem(24); }
.u-row-gap-32     { row-gap:pxToRem(32); }

.u-flex-vertical            { display:flex; flex-direction:column;  }
.u-flex-vertical-mobile     { @media #{$break1} { flex-direction:column; }  }
.u-flex-wrap                { flex-wrap:wrap;         }
.u-stretch                  { flex:1;                 }
.u-flex-basis-50-percent    { flex-basis:50%;         }
.u-flex-basis-100-percent   { flex-basis:100%;        }
.u-flex-shrink-0            { flex-shrink:0;          }
.u-flex-basis-auto          { flex-basis:auto;        }

.u-grid-columns-auto-1fr    { grid-template-columns:auto 1fr; }

.u-width-fit-content      { inline-size:fit-content;     }
.u-width-full-line        { inline-size:100%;            }
.u-width-150              { inline-size:pxToRem(150);    }
.u-width-200              { inline-size:pxToRem(200);    }
.u-width-250              { inline-size:pxToRem(250);    }
.u-width-280-desktop      { @media #{$break3open} { inline-size:pxToRem(280); } }
.u-min-width-0            { min-inline-size:0;            } /*use to solve flexbox un-shrink problem;*/
.u-min-width-200          { min-inline-size:pxToRem(200); }
.u-min-width-100-percent  { min-inline-size:100%;         }

.u-max-width-250    { max-inline-size:pxToRem(250); }
.u-max-width-300    { max-inline-size:pxToRem(300); }
.u-max-width-350    { max-inline-size:pxToRem(350); }
.u-max-width-400    { max-inline-size:pxToRem(400); }
.u-max-width-450    { max-inline-size:pxToRem(440); }
.u-max-width-500    { max-inline-size:pxToRem(500); }
.u-max-width-650    { max-inline-size:pxToRem(650); }
.u-max-width-700    { max-inline-size:pxToRem(700); }
.u-max-width-100-percent { max-inline-size:100%; }

.u-height-100-percent { block-size:100%; }

.u-min-height-100   { min-block-size:pxToRem(100); }
.u-min-height-184   { min-block-size:pxToRem(184); }
.u-min-height-100-percent { min-block-size:100%;   }

.u-max-height-200   { max-block-size:pxToRem(200); }

.u-full-screen-height { block-size:100vh; block-size:100lvh; }

/* alignments */
.u-main-start         { justify-content:start!important;  }
.u-main-center        { justify-content:center;           }
.u-main-space-between { justify-content:space-between;    }
.u-main-end           { justify-content:end;              }

.u-cross-start        { align-items:start;    }
.u-cross-baseline     { align-items:baseline; }
.u-cross-center       { align-items:center;   }
.u-cross-end          { align-items:end;      }

.u-cross-child-start  { align-self:start;   }
.u-cross-child-center { align-self:center;  }
.u-cross-child-end    { align-self:end;     }

/* box model */
.u-padding-24             { padding:pxToRem(24)!important; }
.u-padding-32             { padding:pxToRem(32)!important; }
.u-padding-64             { padding:pxToRem(64)!important; }
.u-padding-inline-0       { padding-inline:0!important; }
.u-padding-inline-8       { padding-inline:pxToRem(8)!important; }
.u-padding-inline-12      { padding-inline:pxToRem(12)!important; }
.u-padding-inline-32      { padding-inline:pxToRem(32)!important; }
.u-padding-inline-end-0   { padding-inline-end:0!important; }
.u-padding-inline-end-56  { padding-inline-end:pxToRem(56)!important; }

.u-padding-block-12       { padding-block:pxToRem(12)!important; }
.u-padding-block-start-16 { padding-block-start:pxToRem(16)!important; }
.u-padding-block-end-56   { padding-block-end:pxToRem(56)!important; }


.u-margin-auto            { margin:auto!important; }
.u-margin-0               { margin:0!important; }
.u-margin-32              { margin:pxToRem(32)!important; }

.u-margin-inline-auto     { margin-inline:auto; }
.u-margin-inline-start-auto { margin-inline-start:auto; }
.u-margin-block-start-auto  { margin-block-start:auto; }

.u-margin-block-start-negative-56 { margin-block-start:pxToRem(-56); }

.u-margin-block-start-2   { margin-block-start:pxToRem(2); }
.u-margin-block-start-4   { margin-block-start:pxToRem(4); }
.u-margin-block-start-8   { margin-block-start:pxToRem(8); }
.u-margin-block-start-12  { margin-block-start:pxToRem(12); }
.u-margin-block-start-16  { margin-block-start:pxToRem(16); }
.u-margin-block-start-20  { margin-block-start:pxToRem(20); }
.u-margin-block-start-24  { margin-block-start:pxToRem(24); }
.u-margin-block-start-32  { margin-block-start:pxToRem(32); }
.u-margin-block-start-40  { margin-block-start:pxToRem(40); }
.u-margin-block-start-48  { margin-block-start:pxToRem(48); }
.u-margin-block-start-52  { margin-block-start:pxToRem(52); }
.u-margin-block-start-100 { margin-block-start:pxToRem(100); }
.u-margin-block-start-200 { margin-block-start:pxToRem(200); }
.u-margin-block-start-300 { margin-block-start:pxToRem(300); }

.u-margin-inline-start-4  { margin-inline-start:pxToRem(4); }
.u-margin-inline-start-8  { margin-inline-start:pxToRem(8); }
.u-margin-inline-start-12 { margin-inline-start:pxToRem(12); }
.u-margin-inline-start-16 { margin-inline-start:pxToRem(16); }
.u-margin-inline-start-24 { margin-inline-start:pxToRem(24); }
.u-margin-inline-start-32 { margin-inline-start:pxToRem(32); }

.u-margin-inline-end-16   { margin-inline-end:pxToRem(16); }
.u-margin-inline-end-24   { margin-inline-end:pxToRem(24); }

.u-border-width-0         { border-width:0!important; }
.u-mobile-border-width-0  { @media #{$break1} { border-width:0!important; } }

//.u-border-radius-4        { border-radius:var(--border-radius-xsmall);   }
//.u-border-radius-8        { border-radius:var(--border-radius-small);    }
//.u-border-radius-16       { border-radius:var(--border-radius-medium);   }
//.u-border-radius-24       { border-radius:var(--border-radius-large);    }
//.u-border-radius-circle   { border-radius:var(--border-radius-circular); }

/* container queries */
.u-container-inline-size { container-type: inline-size; }

/* Shadows */
.u-drop-shadow-large { filter:drop-shadow(var(--shadow-large));}

/* reset inputs */
/** remove number button inputs **/
/* Chrome, Safari, Edge, Opera */
.u-remove-input-number-buttons::-webkit-outer-spin-button,
.u-remove-input-number-buttons::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.u-remove-input-number-buttons {
  -moz-appearance: textfield;
}

/* only light / only dark */
.u-only-light,
.u-only-dark   { display:none; }

#{$theme-dark} {
  .u-only-dark   { display:block; }
}
body:not(#{$theme-dark}) {
  .u-only-light { display:block; }
}

/* responsive global state classes */
.is-only-mobile {
  @media #{$break2open} { display:none!important; }
}

.is-only-tablet {
  @media #{$break1}, #{$break3open} { display:none!important; }
}

.is-only-desktop {
  @media #{$break1}, #{$break2} { display:none!important; }
}

.is-not-mobile {
  @media #{$break1} { display:none!important; }
}

.is-not-desktop {
  @media #{$break3open} { display:none!important; }
}