@use 'abstract' as *;

/* hide */
.u-hide             { display:none!important; }
.u-opacity-0        { opacity:0!important; }
.u-opacity-0-2      { opacity:0.2!important; }
.u-opacity-0-5      { opacity:0.5!important; }
.u-overflow-hidden  { overflow:hidden!important; }
.u-overflow-visible { overflow:visible!important; }
.u-overflow-y-auto  { overflow-y:auto!important; }

/* text */
.u-x-small          { font-size:pxToRem(12); }
.u-small            { font-size:pxToRem(14); }
.u-font-size-32     { font-size:pxToRem(32); }
.u-bold             { font-weight:600; }
.u-text-center      { text-align:center; }
.u-line-height-1    { line-height:1; }
.u-line-height-1-5  { line-height:1.5; }
.u-break-word       { @include break-word; white-space:initial; }
.u-trim             { @include trim; }
.u-trim-start       { @include trim; direction:rtl; text-align:right; }
.u-un-break-text    { white-space:nowrap!important; }

.u-icon-small     { font-size:var(--icon-size-small); }

/* position */
.u-position-absolute { position:absolute; }
.u-inset-inline-end-8 { inset-inline-end:pxToRem(8); }
.u-inset-block-start-8 { inset-block-start:pxToRem(8); }

/* display */
.u-block          { display:block; }
.u-grid           { display:grid; }
.u-flex           { display:flex; }
.u-inline-flex    { display:inline-flex; }

.u-box-sizing-content { box-sizing:content-box; }
.u-sep-block-end  { border-block-end:solid pxToRem(1) hsl(var(--color-border)); }

.u-gap-4          { gap:pxToRem(4); }
.u-gap-8          { gap:pxToRem(8); }
.u-gap-12         { gap:pxToRem(12); }
.u-gap-16         { gap:pxToRem(16); }
.u-gap-24         { gap:pxToRem(24); }
.u-gap-32         { gap:pxToRem(32); }

.u-flex-vertical    { flex-direction:column; }
.u-flex-wrap        { flex-wrap:wrap; }
.u-stretch          { flex:1; }
.u-flex-basis-50-percent    { flex-basis:50%; }
.u-flex-basis-100-percent   { flex-basis:100%; }
.u-flex-shrink-0            { flex-shrink:0; }

.u-width-full-line  { inline-size:100%; }
.u-width-250        { inline-size:pxToRem(250); }
.u-min-width-0      { min-inline-size:0; } /*use to solve flexbox un-shrink problem;*/
.u-max-width-500    { max-inline-size:pxToRem(500); }

.u-height-100-percents { block-size:100%; }
.u-min-height-100   { min-block-size:pxToRem(100); }
.u-min-height-184   { min-block-size:pxToRem(184); }
.u-max-height-200   { max-block-size:pxToRem(200); }
.u-full-screen-height { block-size:100vh; block-size:100lvh; }

/* alignments */
.u-main-center        { justify-content:center; }
.u-main-space-between { justify-content:space-between; }
.u-main-end           { justify-content:end; }

.u-cross-center       { align-items:center; }

.u-cross-child-start  { align-self:start; }
.u-cross-child-center { align-self:center; }
.u-cross-child-end    { align-self:end; }

/* box model */
.u-margin-0               { margin:0!important; }
.u-padding-inline-0       { padding-inline:0!important; }

.u-margin-inline-start-auto { margin-inline-start:auto; }
.u-margin-block-start-auto  { margin-block-start:auto; }

.u-margin-block-start-negative-56 { margin-block-start:pxToRem(-56); }

.u-margin-block-start-2   { margin-block-start:pxToRem(2); }
.u-margin-block-start-4   { margin-block-start:pxToRem(4); }
.u-margin-block-start-8   { margin-block-start:pxToRem(8); }
.u-margin-block-start-12  { margin-block-start:pxToRem(12); }
.u-margin-block-start-16  { margin-block-start:pxToRem(16); }
.u-margin-block-start-20  { margin-block-start:pxToRem(20); }
.u-margin-block-start-24  { margin-block-start:pxToRem(24); }
.u-margin-block-start-32  { margin-block-start:pxToRem(32); }
.u-margin-block-start-40  { margin-block-start:pxToRem(40); }
.u-margin-block-start-48  { margin-block-start:pxToRem(48); }
.u-margin-block-start-52  { margin-block-start:pxToRem(52); }
.u-margin-block-start-100 { margin-block-start:pxToRem(100); }

.u-margin-inline-end-16   { margin-inline-end:pxToRem(16); }
.u-margin-inline-end-24   { margin-inline-end:pxToRem(24); }

/* alerts colors */
.u-disabled { color:hsl(var(--color-text-disabled)); }
.u-info     { color:hsl(var(--color-text-info)); }
.u-error    { color:hsl(var(--color-text-danger)); }
.u-warning  { color:hsl(var(--color-text-warning)); }
.u-success  { color:hsl(var(--color-text-success)); }

/* colors text */
.u-text-color-light-gray { color:hsl(var(--color-text-gray)); }

/* only light / only dark */
.u-only-light,
.u-only-dark   { display:none; }

#{$theme-dark} {
  .u-only-dark   { display:block; }
}
body:not(#{$theme-dark}) {
  .u-only-light { display:block; }
}

/* responsive global state classes */
.is-only-mobile {
  @media #{$break2open} { display:none!important; }
}

.is-only-tablet {
  @media #{$break1}, #{$break3open} { display:none!important; }
}

.is-only-desktop {
  @media #{$break1}, #{$break2} { display:none!important; }
}

.is-no-mobile {
  @media #{$break1} { display:none!important; }
}

.is-no-desktop {
  @media #{$break3open} { display:none!important; }
}