@use 'abstract' as *;

.hero {
  background: linear-gradient(0deg, rgba(242, 242, 248, 0) -10.61%, rgba(242, 242, 248, 0.6) 100%);
  border-radius: 16px;
}

.theme-dark .hero {
  background: linear-gradient(0deg, rgba(40, 42, 59, 0) -10.61%, rgba(40, 42, 59, 0.6) 100%);
}