@use '../abstract' as *;
:root {
  --container-size-small:   #{pxToRem(320)};
  --container-size-medium:  #{pxToRem(496)};
  --container-size-large:   #{pxToRem(700)};
  --container-size-xl:      #{pxToRem(928)};
  --container-size-xxl:     #{pxToRem(1260)};
  --container-size-xxxl:    #{pxToRem(1394)};

  /* icons */
  --icon-size-small:        #{pxToRem(16)};
  --icon-size-medium:       #{pxToRem(20)}; /* default */
  --icon-size-large:        #{pxToRem(24)};
  --icon-size-extra-large:  #{pxToRem(32)};

}