---
const pages = await Astro.glob('../pages/*/*.md');
let previous = {};
let next = {}

pages.forEach((page, index) => {
    if(Astro.canonicalURL.pathname === page.url +'/'){
        previous.url = pages[index === 0 ? pages.length - 1  : index - 1].url;
        previous.title = previous.url.split('/')[2];
        next.url = pages[index === pages.length - 1  ? 0 : index + 1].url;
        next.title = next.url.split('/')[2];
        }
})

---


<nav class="bottomNav">
<a href={previous.url}> <span class="bottomNav-title">&#8592; {previous.title}</span></a>
<a href={next.url}><span class="bottomNav-title">{next.title} &#8594;</span></a>
</nav>

<style>
.bottomNav {
 padding: 0.5rem;
}
.bottomNav-title{
    text-transform: capitalize;
}
</style>