---
  import '@picocss/pico';
  import '../components/preview'
  import SideNav from './sideNav.astro';
---
<html>
  <head>
    <!-- ... -->
  </head>
  <body>
      <div class="grid">
        <SideNav />
        <main>
          <slot />
        </main>
      </div>
  </body>
</html>

<style>
  body {
    height: 100vh;
    max-height: 100vh;
  }
  body div.grid {
    grid-template-columns: 20% auto;
  }

  body div.grid main {
    overflow: scroll;
    max-height: 100vh;
  }
</style>