---
  import '@picocss/pico';
  import SideNav from './sideNav.astro';
  import BottomNav from './bottomNav.astro';

---
<html  data-theme={'light'}>
  <head>
     <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@appwrite/catalog</title>
  </head>
  <body>
      <div class="grid">
        <SideNav />
        <main>
          <slot />
        <BottomNav client:load />
        </main>
      </div>
  </body>
</html>

<style>
  body {
    height: 100vh;
    max-height: 100vh;
  }
  body div.grid {
    grid-template-columns: 20% auto;
  }

  body div.grid main {
    overflow: auto;
    max-height: 100vh;
  }

</style>

<script>
import css from "../styles/appwrite.css?raw"

let htmlTheme = document.querySelector('[data-theme]');
let theme = localStorage.getItem("theme")
htmlTheme.setAttribute('data-theme', theme);

//TODO: remove white flash on page change

const createPreviewElement = () => {
    customElements.define('katalog-preview',
        class extends HTMLElement {
            content = null;
            constructor() {
                super();
                this.content = this.innerHTML;
                this.innerHTML = '';

                const shadowRoot = this.attachShadow({ mode: 'open' });
                const preview = document.createElement('div');
                preview.innerHTML = `<style>${css.replaceAll('root', 'host')} </style>`;
                preview.innerHTML += this.content;
                preview.style = 'padding: 0.5rem; width: 100%; display: flex; gap: 1rem'
                if(htmlTheme.getAttribute('data-theme') === 'dark'){
                  preview.classList += 'theme-dark'
                }


                shadowRoot.appendChild(preview);
            }
        }
    );
}
createPreviewElement();
</script>