---
import NavAccordion from "../components/NavAccordion.astro";
import ThemeToggle from "../components/themeToggle.astro";

const components = await Astro.glob('../pages/components/*.md');
const foundations = await Astro.glob('../pages/foundations/*.md');
---
<aside>
<img class="sidenav-img" src="/appwrite.svg" alt="Appwrite logo">
  <nav>
    <ul>
      <li>       
        <a href="/" aria-current={Astro.canonicalURL.pathname === "/" ? 'page' : false}>
        Home
        </a>
      </li>
      <li>
      <NavAccordion title="Foundations" links={foundations} />
      </li>
      <li>
      <NavAccordion title="Components" links={components} />
      </li>
   </ul>
  </nav>
  <ThemeToggle />
</aside>

<style>
.sidenav-img {
  padding: 0.5rem;
  margin-bottom: 1rem;
}
</style>
