---
import NavAccordion from "../components/NavAccordion.astro";
import ThemeToggle from "../components/themeToggle.astro";

const components = await Astro.glob('../pages/components/*.md');
const foundations = await Astro.glob('../pages/foundations/*.md');
---
<aside>
  <nav>
    <ul>
      <li>       
        <a href="/" aria-current={Astro.canonicalURL.pathname === "/" ? 'page' : false}>
        Home
        </a>
      </li>
      <li>
      <NavAccordion title="Foundations" links={foundations} />
      </li>
      <li>
      <NavAccordion title="Components" links={components} />
      </li>
   </ul>
  </nav>
  <ThemeToggle />
</aside>
