---
import ThemeToggle from "./ThemeToggle.astro";
---

<header class="main-header u-padding-inline-end-0">
    <button class="icon-button is-no-desktop" aria-label="Open Menu">
        <span aria-hidden="true" class="icon-menu"></span>
    </button> 
    <a class="logo" href="/">
        <img  src="/pinkui.svg" width="91" height="30" alt="PinkUI">
    </a>
    <div class="main-header-end u-margin-inline-end-16">
        <ul class="buttons-list">
            <li class="buttons-list-item">
                <button class="button is-only-icon is-text">
                    <span class="icon-search"></span>
                </button>
            </li>
            <li class="buttons-list-item">
                <ThemeToggle />
            </li>
        </ul>
    </div>
</header>