---
import ThemeToggle from "./ThemeToggle.astro";
---

<header class="main-header u-padding-inline-end-0">
    <button class="icon-button is-no-desktop" aria-label="Open Menu">
        <span aria-hidden="true" class="icon-menu"></span>
    </button> 
    <a class="logo" href="/console/organization-6374c26ba90067a6315d">
        <img  src="/pinkui.svg" width="132" height="34" alt="Appwrite">
    </a>
<div class="main-header-end u-margin-inline-end-16">
  <ThemeToggle />
  </div>
</header>