@use '../abstract' as *;
.inline-links {
  display:      flex;
  align-items:  baseline;
  font-size:    pxToRem(14);

  &-item {
    padding-inline:pxToRem(20);
    &:where(:not(:last-child)) { border-inline-end:solid pxToRem(1) hsl(var(--color-border)); }
  }
  /* states */
  &:where(.is-center) { justify-content:center; }

  &:where(.is-no-padding-first-and-last) {
    :where(.inline-links-item) {
      &:first-child { padding-inline-start:0; }
      &:last-child  { padding-inline-end:0;   }
    }
  }
}