@use '../abstract' as *;
html {

}

body {
  --p-text-color: var(--color-neutral-150);
  direction: ltr;
  font-family: Poppins,sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  font-size: 100%; /* default equal to 16px */
  line-height: 2;
  color: hsl(var(--p-text-color)); /* not yet defined */
  background-color: #eceff1;/* TODO:put in css local variable */

  &.theme-dark{
    --p-text-color: var(--color-blue-100);
    background-color: #20263f; /* TODO:change future css local variable */
  }
}

:focus {
  /* focus styles */
  box-shadow: 0px 0px 0px pxToRem(1) #00A7C3, 0px 0px 0px pxToRem(4) rgba(0, 167, 195, 0.25);
}