html {

}

body {
  --p-text-color:var(--color-neutral-900);
  direction: ltr;
  font-family: Poppins,sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  font-size: 100%; /* default equal to 16px */
  line-height: 2;
  color: hsl(var(--p-text-color)); /* not yet defined */

  &.theme-dark{
    --p-text-color: var(--color-blue-100);
  }
}

:focus-visible {
  outline: currentColor 1px dashed;
}