---
import "../../../../packages/ui/dist/appwrite.css";
import "../../../../packages/icons/dist/icon.css";
import Header from "@components/layout/Header.astro";
import SideNav from "@components/layout/SideNav.astro";
import Footer from "@components/layout/Footer.astro";
import Cover from "@components/layout/Cover.astro";
import Search from "@components/Search.svelte";

interface Props {
  homepage?: boolean;
}

const showFooter =
  Astro.url.pathname !== "/" && !Astro.url.pathname.includes("getting-started");

  const {frontmatter} = Astro.props
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@appwrite/PinkUI</title>
    <link rel="stylesheet" href="/prismjs.css" />
  </head>

  <body>
    <script is:inline>
      const theme = localStorage.getItem("theme") || "light";
      if (theme === "dark") {
        document.body.classList.remove("theme-light");
        document.body.classList.add("theme-dark");
      } else {
        document.body.classList.remove("theme-dark");
        document.body.classList.add("theme-light");
      }
    </script>

    <dialog id="search">
      <Search client:load />
    </dialog>

    <div class="grid-with-side">
      <Header />
      <SideNav />
      <main class="main-content">
        {
          Astro.props.homepage ? (
            <slot />
          ) : (
            <Cover frontmatter={frontmatter} />
            <div class="container u-margin-block-start-negative-56">
              <div class={Astro.props.noCard ? "" : "card"}>
                <slot />
              </div>
            </div>
          )
        }
      </main>
      {showFooter && <Footer />}

      <footer class="main-footer">
    <div class="main-footer-start">
      <ul class="inline-links is-no-padding-first-and-last u-x-small">
        <li class="inline-links-item">
          <a href="https://appwrite.io/policy/terms" target="_blank"
          ><span class="text">Terms</span>
          </a>
        </li>
        <li class="inline-links-item">
          <a href="https://appwrite.io/policy/privacy" target="_blank"
          ><span class="text">Privacy</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="main-footer-end">
      <ul class="inline-links is-no-padding-first-and-last u-x-small">
        <li class="inline-links-item">
          <span class="text">ⓒ 2023 Appwrite. All rights reserved.</span>
        </li>
      </ul>
    </div>
  </footer>

    </div>

    <script is:inline>
      const searchModal = document.getElementById("search");

      searchModal?.addEventListener("click", (e) => {
        if (e.target === searchModal) {
          searchModal.removeAttribute("open");
        }
      });

      document.addEventListener("keydown", (e) => {
        if (e.key === "Escape") {
          searchModal.removeAttribute("open");
        }
      });
    </script>
  </body>
</html>

<style is:global>
  pre {
    margin: 0;
  }

  body {
    --p-body-bg-color: var(--color-neutral-0);
    --search-bg-color: var(--color-neutral-0);
    --search-color: var(--color-neutral-100);
  }
  body.theme-dark {
    --p-body-bg-color: var(--color-neutral-300);
    --search-bg-color: var(--color-neutral-400);
    --search-color: var(--color-neutral-50);
  }

  .color-box li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    width: 150px;
    height: 60px;
    border-radius: 4px;
    color: #fff;
  }

  #search {
    /*   font-family: 'Poppins', sans-serif; */
    position: fixed;
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.5);
    color: hsl(var(--search-color));
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  #search[data-open="false"] {
    display: none;
  }
</style>
