/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

.token.tag {
    all: unset;
}

code[class*="language-"],
pre[class*="language-"] {
    color: black;
    background: none;
    text-shadow: 0 1px white;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
    text-shadow: none;
    background: #b3d4fc;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
    text-shadow: none;
    background: #b3d4fc;
}

@media print {

    code[class*="language-"],
    pre[class*="language-"] {
        text-shadow: none;
    }
}

/* Code blocks */
pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
}

:not(pre)>code[class*="language-"],
pre[class*="language-"] {
    background: #f5f2f0;
}

/* Inline code */
:not(pre)>code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: slategray;
}

.token.punctuation {
    color: #999;
}

.token.namespace {
    opacity: .7;
}


.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
    color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    color: #9a6e3a;
    /* This background color was intended by the author of this theme. */
    background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: #07a;
}

.token.function,
.token.class-name {
    color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
    color: #e90;
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

pre[class*=language-].line-numbers {
    position: relative;
    padding-left: 3.8em;
    counter-reset: linenumber
}

pre[class*=language-].line-numbers>code {
    position: relative;
    white-space: inherit
}

.line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: 0;
    font-size: 100%;
    left: -3.8em;
    width: 3em;
    letter-spacing: -1px;
    border-right: 1px solid #999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.line-numbers-rows>span {
    display: block;
    counter-increment: linenumber
}

.line-numbers-rows>span:before {
    content: counter(linenumber);
    color: #999;
    display: block;
    padding-right: .8em;
    text-align: right
}

/* ========= */
/* OVERRIDE */
/* =========*/


.dark-box {
    --p-box-background-color: var(--color-neutral-400) !important;
}

body.theme-light .dark-box {
    --p-box-background-color: var(--color-neutral-5) !important;
}

.box .controls {
    z-index: 2;
}

code[class*='language-'],
pre[class*='language-'] {
    color: #fcfcff;
    text-shadow: none;
    font-family: 'Source Code Pro';
}

code[class*='language-'].line-numbers,
pre[class*='language-'].line-numbers {
    padding-left: 2.5em;
}

body.theme-light code[class*='language-'],
body.theme-light pre[class*='language-'] {
    color: #373b4d;
}

code ::selection,
pre ::selection,
code::selection,
pre::selection {
    text-shadow: none;
    background: #b3d4fc;
}

code.line-numbers .line-numbers-rows,
pre.line-numbers .line-numbers-rows {
    border: none;
}

code.line-numbers .line-numbers-rows>span::before,
pre.line-numbers .line-numbers-rows>span::before {
    color: #868ea3;
}

:not(pre)>code[class*='language-'],
pre[class*='language-'] {
    background: #000;
    padding: 0;
    margin: 0;
}

.prism-token.prism-comment,
.prism-token.prism-prolog,
.prism-token.prism-doctype,
.prism-token.prism-cdata {
    color: #868ea3;
}

.prism-token.prism-punctuation {
    color: #fcfcff;
}

body.theme-light .prism-token.prism-punctuation {
    color: #373b4d;
}

.prism-token.prism-property,
.prism-token.prism-tag,
.prism-token.prism-boolean,
.prism-token.prism-number,
.prism-token.prism-constant,
.prism-token.prism-symbol,
.prism-token.prism-deleted,
.prism-token.prism-selector,
.prism-token.prism-attr-name,
.prism-token.prism-string,
.prism-token.prism-char,
.prism-token.prism-builtin,
.prism-token.prism-inserted {
    color: #fdc584;
}

body.theme-light .prism-token.prism-property,
body.theme-light .prism-token.prism-tag,
body.theme-light .prism-token.prism-boolean,
body.theme-light .prism-token.prism-number,
body.theme-light .prism-token.prism-constant,
body.theme-light .prism-token.prism-symbol,
body.theme-light .prism-token.prism-deleted,
body.theme-light .prism-token.prism-selector,
body.theme-light .prism-token.prism-attr-name,
body.theme-light .prism-token.prism-string,
body.theme-light .prism-token.prism-char,
body.theme-light .prism-token.prism-builtin,
body.theme-light .prism-token.prism-inserted {
    color: #e49545;
}

.prism-token.prism-operator,
.prism-token.prism-entity,
.prism-token.prism-url,
.language-css .prism-token.prism-string,
.style .prism-token.prism-string {
    color: #fcfcff;
    background: none;
}

body.theme-light .prism-token.prism-operator,
body.theme-light .prism-token.prism-entity,
body.theme-light .prism-token.prism-url,
body.theme-light .language-css .prism-token.prism-string,
body.theme-light .style .prism-token.prism-string {
    color: #373b4d;
}

.prism-token.prism-atrule,
.prism-token.prism-attr-value,
.prism-token.prism-keyword {
    color: #cbb1fc;
}

body.theme-light .prism-token.prism-atrule,
body.theme-light .prism-token.prism-attr-value,
body.theme-light .prism-token.prism-keyword {
    color: #6a6af7;
}

.prism-token.prism-function {
    color: #ffa1ce;
}

body.theme-light .prism-token.prism-function {
    color: #f02e7f;
}

.prism-token.prism-class-name {
    color: #a1c4ff;
}

body.theme-light .prism-token.prism-class-name {
    color: #62aed2;
}

.prism-token.prism-regex,
.prism-token.prism-important,
.prism-token.prism-variable {
    color: #a1c4ff;
}

body.theme-light .prism-token.prism-regex,
body.theme-light .prism-token.prism-important,
body.theme-light .prism-token.prism-variable {
    color: #62aed2;
}