:root{
  --main-color-hue:343;
  --color-primary: var(--main-color-hue) 87% 56%; /*#f02e65*/
  --color-primary-hover: var(--main-color-hue) 100% 72%; /*#ff729b*/
  --color-secondary: var(--main-color-hue) 44% 81%;

  /* status colors - TEMP HEX COLOR (from old project) */
  --color-dafault: 0 0% 62%;
  --color-disabled: 0 0% 62%;
  --color-pending: 36 100% 47%;
  --color-danger: 0 74% 42%;
  --color-ok: 36 100% 47%;
  --color-success: 146 75% 43%;
  /* need to update to HSL colors */


  --color-warning: #fffbdd;
  --color-info: #386fd2;

  /** grays **/
  --color-neutral-0: 0 0% 100%; /* #ffffff */
  --color-neutral-50: 0 0% 99%; /* #ffffff */
  --color-neutral-100: 210 17% 95%; /* #f1f3f5 */
  --color-neutral-200: 0 0% 89%; /* #e2e2e2 */
  --color-neutral-600: 0 0% 56%; /* #8f8f8f */
  --color-neutral-700: 0 0% 43%; /* #6e6e6e */
  --color-neutral-900: 0 0% 19%; /* #313131 */
  --color-neutral-950: 0 0% 9%; /* #181818 */
  --color-neutral-1000: 0 0% 0%; /* #000000 */

  /* blues */
  --color-blue-50:  206 21% 94%; /* #EBEFF2 */
  --color-blue-75: 211 35% 87%; /* #d2dde9 */
  --color-blue-100: 212 47% 85%; /* #c7d8eb */
  --color-blue-300:229, 10%, 65%; /* #9ea1af */
  --color-blue-700: 215 14% 34%; /* #40404c */
  --color-blue-900: 192 68% 37%; /* #1e849e */

  /* common dark theme colors */
  --color-dark-100: 231 33% 23%; /* #272D4E */
  --color-dark-700: 229 32% 17%; /* #1D2238 */
  --color-dark-800: 229 34% 15%; /* #1a1f35 */

  /* transparent */
  --transparent: 0 0 0 / 0;
}