:root{
  --main-color-hue:343;
  --color-primary: hsl(var(--main-color-hue), 87%, 56%); /*#f02e65*/
  --color-primary-hover: hsl(var(--main-color-hue), 100%, 72%); /*#ff729b*/
  --color-secondary: #hsl(var(--main-color-hue), 44%, 81%);

  /** grays **/
  --color-neutral-0: hsl(0 0% 100%); /* #ffffff */
  --color-neutral-100: hsl(210 17% 95%); /* #f1f3f5 */
  --color-neutral-200: hsl(0 0% 89%); /* #e2e2e2 */
  --color-neutral-600: hsl(0 0% 56%); /* #8f8f8f */
  --color-neutral-700: hsl(0 0% 43%); /* #6e6e6e */
  --color-neutral-900: hsl(0 0% 19%); /* #313131 */
  --color-neutral-1000: hsl(0 0% 0%); /* #000000 */


}