// Responsive Variables
$break1: "(max-width:767px)";
$break2: "(min-width:768px) and (max-width:1023px)";
$break2open:"(min-width:768px)";
$break3: "(min-width:1024px) and (max-width:1439px)";
$break3open:"(min-width:1024px)";
$break4open: "(min-width:1440px)";

.is-only-mobile{
  @media #{$break2open}{display:none!important;}
}