@use '../variables';

.button {
    --button-color: #{variables.$color-primary};
    background-color: var(--button-color);
    display: block;
    width: fit-content;

    &.is-secondary {
        --button-color: #{variables.$color-secondary};
    }
}