---
const { title, links } = Astro.props

function linkNameFallback(link, title){
  return link.replace(`/${title.toLowerCase()}/`, '')
}
---
 
 <details  open={links.some(link => link.url+'/' === Astro.canonicalURL.pathname) } >
   <summary>{title}</summary>
    <ul>
     {links.map(link =>
        <li>
          <a href={link.url} aria-current={Astro.canonicalURL.pathname === link.url +'/' ? 'page' : false}>
            {link.title || linkNameFallback(link.url, title)}
          </a>
        </li>
      )}
    </ul>
</details>

<style>
a{
  text-transform: capitalize;
}
</style>