@use '../abstract' as *;
/* usage class */
.animation-bounce   {
  animation:bounce infinite 2s;
  @media (prefers-reduced-motion) { animation:none; }
}

/** Bounce Animation **/
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(pxToRem(0));
  }
  40% {
    transform: translateY(pxToRem(-15));
  }
  60% {
    transform: translateY(pxToRem(-7));
  }
}