@use '../abstract' as *;
.card {
  --p-card-bg-color: var(--p-card-bg-color-default);
  --p-card-bg-color-default: var(--card-bg-color , var(--color-neutral-0));
  --p-card-bg-color-hover-file: var(--color-neutral-10);
  --p-card-border-color: var(--color-border);
  $padding: pxToRem(32);
  --p-card-padding: var(--card-padding, #{$padding});

  display: block;
  transition: var(--transition) background-color;
  background: hsl(var(--p-card-bg-color));
  border-radius: var(--border-radius-medium);
  box-shadow: var(--shadow-small);
  padding: var(--p-card-padding);
  border: solid pxToRem(1) hsl(var(--p-card-border-color));

  .card-separator {
    padding-block-start: var(--p-card-padding);
    padding-inline: var(--p-card-padding);
    margin-block-start: var(--p-card-padding);
    margin-inline: calc(var(--p-card-padding) * -1);
    border-block-start: solid pxToRem(1) hsl(var(--p-card-border-color));
  }
  &.is-border-dashed  { border-width:0; outline:dashed pxToRem(1) hsl(var(--p-card-border-color)); margin:pxToRem(-1); }
  &.is-hover-with-file { --p-card-bg-color: var(--p-card-bg-color-hover-file); }
  &.is-no-shadow { box-shadow:none; }
  #{$theme-dark} & {
    --p-card-bg-color-default: var(--color-neutral-300);
    --p-card-bg-color-hover-file: var(--color-neutral-150);
  }
}