@use '../abstract' as *;
.icon-button {
  $size: #{pxToRem(20)};
  --p-icon-button-size:var(--icon-button-size, #{$size});

  inline-size:var(--p-icon-button-size);
  block-size:var(--p-icon-button-size);
  font-size:var(--p-icon-button-size);
  transition:var(--transition);
  line-height:1; text-align:center; flex-shrink:0; cursor:pointer;
  &.is-open { transform:rotate(180deg); }
  &.is-success { color:var(--config-color-success); }
}