@use '../abstract' as *;
.loader {
  --p-base-color:       var(--color-neutral-10);
  --p-base-full-color:  var(--color-neutral-50);

  animation: rotate 1s infinite linear; /* global animation */

  inline-size:pxToRem(24); block-size:pxToRem(24);
  border:solid pxToRem(2.5) hsl(var(--p-base-color));
  border-radius: var(--border-radius-circular);
  border-block-start-color:var(--p-base-full-color); border-inline-start-color:var(--p-base-full-color);

  /* Theme Dark */
  #{$theme-dark} & {
    --p-base-color: var(--color-neutral-120);
    --p-base-full-color: var(--color-neutral-50);
  }
}