@use '../abstract' as *;
.bucket {
  --small-title-color: var(--color-neutral-50);

  display: grid;
  grid-template-areas:  "small-header status"
                        "big-header   big-header"
                        "options      icon-info";
  grid-template-columns: 1fr auto;
  grid-template-rows:auto auto 1fr;
  column-gap: pxToRem(16);

  .eyebrow-heading-3  { grid-area:small-header; color:hsl(var(--small-title-color)); align-self:center; margin-block-end:pxToRem(8); }
  .bucket-status      { grid-area:status; }
  .heading-level-6    { grid-area:big-header; }
  .bucket-options     { grid-area:options; display:flex; flex-wrap:wrap; gap:pxToRem(16); align-self:end; justify-self:start; margin-block-start:pxToRem(96); }
  .bucket-icons       { grid-area:icon-info; justify-content:end; margin-block-start:pxToRem(96); line-height:1; }

  .bucket-icons {
    [class*="icon"]::before { vertical-align:sub; }
  }
}