@use '../abstract' as *;
.drop-tabs {
  --p-drop-tab-text-color:  var(--color-neutral-100);
  --p-drop-tab-bg-color:    var(--transparent);

  display:flex; gap:pxToRem(16);

  &-item    {}
  &-button  {
    display:block; padding-inline:pxToRem(12);
    line-height:pxToRem(32); border-radius:var(--border-radius-small);
    color:hsl(var(--p-drop-tab-text-color)); background-color:hsl(var(--p-drop-tab-bg-color));
    &:where(#{$disabled}) { --p-drop-tab-bg-color:var(--color-neutral-10); cursor:default; }
    &:where(:not(#{$disabled})) { cursor:pointer; }
  }

  #{$theme-dark} & {
    --p-drop-tab-text-color: var(--color-neutral-30);
    &-button {
      &:where(:disabled) {
        --p-drop-tab-bg-color: var(--color-neutral-200);
      }
    }
  }
}