@forward "alert";
@forward "alert-sticky";
@forward "action-bar";
@forward "list";
@forward "collapsible";
@forward "tabs";
@forward "secondary-tabs";
@forward "modal";
@forward "drop";
@forward "inline-links";
@forward "upload-image";
@forward "status";
@forward "upload-box";
@forward "upload-file-box";
@forward "file-preview";
@forward "grid-item-1";
@forward "pagination";
@forward "steps";
@forward "buttons-list";
@forward "toggle-button";
@forward "clickable-list";
@forward "progress-bar";
@forward "top-cover";
@forward "code-panel";

@forward "top-banner";

/* main parts */
@forward "main-header";
@forward "breadcrumbs";
@forward "user-profile";
@forward "side-nav";
@forward "main-footer";
