@use '../abstract' as *;
:root {
  $main-header-height: pxToRem(64);
  --main-header-height: #{$main-header-height};
}
.main-header {
  --p-main-header-bg-color: var(--color-neutral-0);
  --p-main-header-border-color: var(--color-border);

  display:flex; align-items:center; gap:pxToRem(24); height:var(--main-header-height); padding-inline:pxToRem(24);
  background-color:hsl(var(--p-main-header-bg-color));
  border-block-end:solid pxToRem(1) hsl(var(--p-main-header-border-color));
  -webkit-user-select:none; user-select:none;
  > * { min-width:0; }
  &-end { flex-shrink:0; display:flex; align-items:center; height:100%; gap:pxToRem(24); }

  /* override */
  .drop {
    inset-inline:pxToRem(-1) 0; inset-block-start:100%; border-start-start-radius:0; border-start-end-radius:0;
  }

  #{$theme-dark} & {
    --p-main-header-bg-color: var(--color-neutral-500);
  }
  @media #{$break1}, #{$break2} {
    .logo { margin-inline:auto; }
    .user-profile {
      .drop { max-width:initial; }
      .drop-wrapper { position:static; }
    }
  }
  @media #{$break3open} {
    &-end { margin-inline-start:auto; }
  }
}
