@use '../abstract' as *;
.sessions {
  --p-text-info-color: var(--color-neutral-600);
  &-item {
    :where(.card) {
      display:grid; column-gap:pxToRem(20);
      grid-template-columns: pxToRem(60) 1fr auto;
      grid-template-areas:  "image header buttons"
                            "image info   buttons";

    }
    &-image   { grid-area: image;   }
    &-header  { grid-area: header;  }
    &-info    { grid-area: info;   color: hsl(var(--p-text-info-color)); }
    &-buttons { grid-area: buttons; display:flex; gap:pxToRem(10); }

    &-title   { display:inline; }
    .pill     { margin-inline-start:pxToRem(10); }
  }
  #{$theme-dark} & {
    --p-text-info-color: var(--color-blue-75);
  }
}