@use '../abstract' as *;

.side-nav {
  --p-side-nav-bg-color:      var(--color-neutral-0);
  --p-side-nav-border-color:  var(--color-border);

  display:flex; flex-direction:column; block-size:100%;

  background-color: hsl(var(--p-side-nav-bg-color));
  border-inline-end: solid pxToRem(1) hsl(var(--p-side-nav-border-color));

  &-top     { }
  &-main    {
    flex:1; overflow:auto;
    @include scroll();
    scrollbar-gutter: stable;
    overflow: overlay; // fallback macOS

    &:not(:hover) {
      &::-webkit-scrollbar-thumb {
        background: hsl(var(--transparent));
      }

      &::-webkit-scrollbar-corner {
        background: hsl(var(--transparent));
      }
    }
  }
  &-bottom  { }

  /* override drop partial */
  .drop {
    &-section {
      $padding-horizontal:          pxToRem(16);
      $padding-vertical:            pxToRem(24);
      --section-padding-horizontal: #{$padding-horizontal};
      --section-padding-vertical:   #{$padding-vertical};
    }
    &-list { }
    &-button {
      $padding-horizontal:          pxToRem(16);
      $padding-vertical:            pxToRem(8);
      --button-padding-horizontal:  #{$padding-horizontal};
      --button-padding-vertical:    #{$padding-vertical};

      line-height: 1.7145;
      .text { @include trim(1); }
    }
  }

  #{$theme-dark} & {
    --p-side-nav-bg-color: var(--color-neutral-500);
  }
  @media #{$break1}, #{$break2} {
    .drop {
      &-list {
        &-item {
          @media #{$break1}, #{$break2} {
            display:flex; justify-content:center;
          }
        }
      }
      &-button {
        justify-content:center;
        [class*="icon"] { display:none; }
      }
    }
  }
}