@use '../../abstract' as *;

.pulse-notification {
  background-color: lighten(red, 20%);
  border-radius: 50%;
  color: #fff;
  padding: 0.5em 0.75em;
  position: relative;
  &::before {
    content: '';
    display: block;
    position: absolute;
    inset: 0;
    animation: pulse 1s ease infinite;
    border-radius: 50%;
    border: 4px double lighten(red, 20%);
  }
}




@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  60% {
    transform: scale(1.3);
    opacity: 0.4;
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}