@use '../../abstract' as *;

.x-button {
  --p-size: var(--size, 24);
  --p-text-color: var(--button-text-color, var(--color-neutral-100));

  inline-size: calc( var(--p-size) / 16 * 1rem);
  block-size: calc( var(--p-size) / 16 * 1rem);
  font-size: calc(var(--p-size) / 16 * 0.70 * 1rem); /* 0.75 */

  //background-color: hsl(var(--p-bg-color));
  color: hsl(var(--p-text-color));
  border-radius: var(--border-radius-circular);

  display:inline-grid; place-content:center; line-height:1; flex-shrink:0;

  #{$theme-dark} & {
    --p-text-color: var(--color-neutral-50);
  }
}