@use "../abstract" as *;
.grid-with-side {
  position: relative;

  :where(.main-header)  { grid-area:header; }
  :where(.main-side)    { grid-area:side;   }
  :where(.main-content) { grid-area:main;   }
  :where(.main-footer)  { grid-area:footer; }

  @media #{$break1}, #{$break2} {
    .main-side { display:none; }

    &:where(.is-open) {
      .main-side { display:block; position:static; }
      .main-content, .main-footer { display:none; }
    }
  }
  @media #{$break3open} {
    display: grid;
    grid-template-columns: minmax(pxToRem(200), auto) 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:  "header header"
                          "side   main"
                          "side   footer";

    &.is-empty-side {
      grid-template-areas:  "header header"
                            "main    main"
                            "footer  footer";
      .main-content > * { padding-inline-start:pxToRem(200); }
    }
    .main-side { block-size:calc(100vh - var(--main-header-height)); }
  }
}

.main-content { position:relative; /* z-index:1; */ } /* remove z-index, mage nug in modals */
.main-header { position:sticky; z-index:5; inset-block-start:0; }
.main-side { position:sticky; z-index:5; inset-block-start:var(--main-header-height); max-block-size:100vh;}
