@use '../abstract' as *;

.grid {
  --grid-columns: auto-fill; /* default */

  --grid-gap: var(--grid-gap-m); /* default */
  --grid-gap-none:  0;
  --grid-gap-xs:   #{pxToRem(4)};
  --grid-gap-s:    #{pxToRem(8)};
  --grid-gap-m:    #{pxToRem(16)};
  --grid-gap-l:    #{pxToRem(24)};
  --grid-gap-xl:   #{pxToRem(36)};
  --grid-gap-xxl:  #{pxToRem(72)};

  --grid-column-min-width: #{pxToRem(160)};
  --grid-auto-row-min-height: 1fr;

  display: grid;
  grid-template-columns: repeat(var(--grid-columns), minmax(var(--grid-column-min-width), 1fr) );
  grid-auto-rows: var(--grid-auto-row-min-height);
  gap: var(--grid-gap);

  /* gap - "m" (medium) is default (16px) */
  &[data-gap="none"]  { --grid-gap:var(--grid-gap-none);  }
  &[data-gap="xs"]    { --grid-gap:var(--grid-gap-xs);    }
  &[data-gap="s"]     { --grid-gap:var(--grid-gap-s);     }
  &[data-gap="m"]     { --grid-gap:var(--grid-gap-m);     }
  &[data-gap="l"]     { --grid-gap:var(--grid-gap-l);     }
  &[data-gap="xl"]    { --grid-gap:var(--grid-gap-xl);    }
  &[data-gap="xxl"]   { --grid-gap:var(--grid-gap-xxl);   }

  &[data-grid-item-min-width="40"]  { --grid-column-min-width: #{pxToRem(40)}; }
  &[data-grid-item-min-width="80"]  { --grid-column-min-width: #{pxToRem(80)}; }
  &[data-grid-item-min-width="120"] { --grid-column-min-width: #{pxToRem(120)}; }
  &[data-grid-item-min-width="160"] { --grid-column-min-width: #{pxToRem(160)}; }
  &[data-grid-item-min-width="200"] { --grid-column-min-width: #{pxToRem(200)}; }
  &[data-grid-item-min-width="240"] { --grid-column-min-width: #{pxToRem(240)}; }
  &[data-grid-item-min-width="280"] { --grid-column-min-width: #{pxToRem(280)}; }

  &[data-filling="fill"]    { --grid-columns:auto-fill;   }
  &[data-filling="fit"]     { --grid-columns:auto-fit;    }
}