@use '../abstract' as *;
.grid-with-side {
  position: relative;

  :where(.main-header)  { grid-area: header;  }
  :where(.main-side)    { grid-area: side;    }
  :where(.main-content) { grid-area: main;    }
  :where(.main-footer)  { grid-area: footer;  }

  @media #{$break1}, #{$break2} {
    .main-side { display:none; position:absolute; inset:0; }
    &:where(.is-open) {
      .main-side { display:block; }
    }
  }
  @media #{$break3open} {
    display: grid;
    grid-template-columns: pxToRem(200) 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:  "header header"
                          "side   main"
                          "side   footer";

    &.is-empty-side {
      grid-template-areas: "header header"
                          "main    main"
                          "footer  footer";
      .main-content > * {padding-inline-start: pxToRem(200);}

    }
    .main-side {
      height: calc(100vh - var(--main-header-height));
    }
  }
}

.main-content { z-index:1; }

.main-header {
  position:sticky;
  z-index:5;
  inset-block-start:0;
}

.main-side {
  position:sticky; z-index:5; inset-block-start:var(--main-header-height); max-height:100vh;
}