---
import Homepage from '../layouts/Homepage.astro';

---

<Homepage>
     <div class="container u-box-sizing-content u-max-width-552 u-text-center">
         <section class="hero">
             <h1 class="heading-level-1">Build. Design. Collaborate.</h1>
             <p>Pink Design, or just Pink, is the Appwrite open-source design system for building consistent and reusable user interfaces. Pink is designed to prioritize collaboration, dev experience, and accessibility.</p>

             <ul class="u-flex u-gap-16 u-main-center u-margin-block-start-40">
                <li>
                    <button class="button is-primary"><span class="text">Get Started</span></button>
                </li>
                <li>
                    <button class="button is-secondary"><span class="text">Build with Appwrite</span></button>
                </li>
             </ul>
         </section>
     </div>
</Homepage>

<style>
    body { line-height: 1.5; }
    .u-max-width-552 { max-inline-size:552px; }
</style>