---
import Homepage from '../layouts/Homepage.astro';

---

<Homepage>
     <div class="container u-box-sizing-content u-max-width-552 u-text-center">
         <section class="hero">
             <h1 class="heading-level-1">Build. Design. Collaborate.</h1>
             <p>Pink Design, or just Pink, is the Appwrite open-source design system for building consistent and reusable user interfaces. Pink is designed to prioritize collaboration, dev experience, and accessibility.</p>

             <ul class="u-flex u-gap-16 u-main-center u-margin-block-start-40">
                <li>
                    <button class="button is-primary"><span class="text">Get Started</span></button>
                </li>
                <li>
                    <button class="button is-secondary"><span class="text">Build with Appwrite</span></button>
                </li>
             </ul>
         </section>
     </div>
     <div class="container">

          <section class="infos">
            <ul class="infos-list">
                <li class="infos-item">
                    <article class="infos-article">
                        <div class="infos-image"></div>
                        <div class="infos-content">
                            <h3 class="heading-level-6"><span class="text">Consistency</span></h3>
                            <p>Create consistent interfaces so your users will learn faster how to use your products.</p>
                        </div>
                    </article>
                </li>
                <li class="infos-item">
                    <article class="infos-article">
                        <div class="infos-image"></div>
                        <div class="infos-content">
                            <h3 class="heading-level-6"><span class="text">Collaboration</span></h3>
                            <p>Unite your team around a single source of truth, to increase efficiency and collaborative work.</p>
                        </div>
                    </article>
                </li>
                <li class="infos-item">
                    <article class="infos-article">
                        <div class="infos-image"></div>
                        <div class="infos-content">
                            <h3 class="heading-level-6"><span class="text">Dev Experience</span></h3>
                            <p>Access to internal channel with Appwrite’s Engineering and DevRel team</p>
                        </div>
                    </article>
                </li>
                <li class="infos-item">
                    <article class="infos-article">
                        <div class="infos-image"></div>
                        <div class="infos-content">
                            <h3 class="heading-level-6"><span class="text">Accessibility</span></h3>
                            <p>Make sure people with disabilities, and different skill levels have the opportunity to use your products.</p>
                        </div>
                    </article>
                </li>
            </ul>
         </section>

         <section class="u-margin-block-start-100">
            <h2 class="heading-level-4">Articles</h2>
            <div class="articles">
                <ul class="articles-list">
                    <li>
                        <a href="">
                            <article class="articles-item">
                                <img class="articles-item-image">
                                <div class="articles-item-content">
                                    <header class="articles-item-header">
                                        <h3 class="body-text-1"><span class="text">Announcement</span></h3>
                                        <span class="read-time u-margin-inline-start-8">3 min read</span>
                                    </header>
                                    <p class="u-trim-3">
                                        After several months of hard work by our design an
                                        d engineering teams, we’re excited to announce and showcase the
                                    </p>
                                </div>
                            </article>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <article class="articles-item">
                                <img class="articles-item-image">
                                <div class="articles-item-content">
                                    <header class="articles-item-header">
                                        <h3 class="body-text-1"><span class="text">Announcement</span></h3>
                                        <span class="read-time u-margin-inline-start-8">3 min read</span>
                                    </header>
                                    <p class="u-trim-3">
                                        After several months of hard work by our design an
                                        d engineering teams, we’re excited to announce and showcase the
                                    </p>
                                </div>
                            </article>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <article class="articles-item">
                                <img class="articles-item-image">
                                <div class="articles-item-content">
                                    <header class="articles-item-header">
                                        <h3 class="body-text-1"><span class="text">Announcement</span></h3>
                                        <span class="read-time u-margin-inline-start-8">3 min read</span>
                                    </header>
                                    <p class="u-trim-3">
                                        After several months of hard work by our design an
                                        d engineering teams, we’re excited to announce and showcase the
                                    </p>
                                </div>
                            </article>
                        </a>
                    </li>
                </ul>
            </div>
         </section>


         <section class="hero u-text-center u-margin-block-start-100">
            <h2 class="heading-level-4">Join Our Growing Developer Community</h2>
            <p class="u-margin-block-start-8">Design and develop with us the best developer experience out there!</p>

            <ul class="avatars-group u-main-center u-margin-block-start-48">
                <li class="avatars-group-item">
                    <img class="avatar is-size-large u-drop-shadow-large" src="https://secure.gravatar.com/avatar/2e445033b9a319b860dc1b5c63d0f31a?s=250&amp;r=pg&amp;d=mm" alt="Elad Shechter">
                </li>
                <li class="avatars-group-item">
                    <img class="avatar is-size-large" src="https://secure.gravatar.com/avatar/2e445033b9a319b860dc1b5c63d0f31a?s=250&amp;r=pg&amp;d=mm" alt="Elad Shechter">
                </li>
                <li class="avatars-group-item">
                    <img class="avatar is-size-large" src="https://secure.gravatar.com/avatar/2e445033b9a319b860dc1b5c63d0f31a?s=250&amp;r=pg&amp;d=mm" alt="Elad Shechter">
                </li>
                <li class="avatars-group-item">
                    <img class="avatar is-size-large" src="https://secure.gravatar.com/avatar/2e445033b9a319b860dc1b5c63d0f31a?s=250&amp;r=pg&amp;d=mm" alt="Elad Shechter">
                </li>
                <li class="avatars-group-item">
                    <img class="avatar is-size-large" src="https://secure.gravatar.com/avatar/2e445033b9a319b860dc1b5c63d0f31a?s=250&amp;r=pg&amp;d=mm" alt="Elad Shechter">
                </li>
                <li class="avatars-group-item">
                    <img class="avatar is-size-large" src="https://secure.gravatar.com/avatar/2e445033b9a319b860dc1b5c63d0f31a?s=250&amp;r=pg&amp;d=mm" alt="Elad Shechter">
                </li>
                <li class="avatars-group-item">
                    <img class="avatar is-size-large" src="https://secure.gravatar.com/avatar/2e445033b9a319b860dc1b5c63d0f31a?s=250&amp;r=pg&amp;d=mm" alt="Elad Shechter">
                </li>
                <li class="avatars-group-item">
                    <img class="avatar is-size-large" src="https://secure.gravatar.com/avatar/2e445033b9a319b860dc1b5c63d0f31a?s=250&amp;r=pg&amp;d=mm" alt="Elad Shechter">
                </li>
                <li class="avatars-group-item">
                    <div class="avatar is-size-large u-small">+2500</div>
                </li>
            </ul>

             <ul class="u-flex u-gap-16 u-main-center u-margin-block-start-40">
                <li>
                    <button class="button is-secondary">
                        <span class="icon-github" aria-hidden="true"></span>
                        <span class="text">Join us on GitHub</span>
                    </button>
                </li>
                <li>
                    <button class="button is-secondary">
                        <span class="icon-discord" aria-hidden="true"></span>
                        <span class="text">Join us on Discord</span>
                    </button>
                </li>
             </ul>

         </section>

     </div>
</Homepage>

<style>
    :root {
        --container-max-size: 76.25rem;
    }

    body { line-height: 1.5; }

    .read-time {
        --p-text-color: var(--color-neutral-70);
        color:hsl(var( --p-text-color));
    }

    .u-trim-3 {
         display:-webkit-box;
         -webkit-line-clamp:3;
         -webkit-box-orient:vertical;
         overflow:hidden;
         word-break:break-all;
     }
    .u-margin-inline-start-8  { margin-inline-start:0.5rem; }
    .u-max-width-552 { max-inline-size:552px; }
    .u-drop-shadow-large { filter:drop-shadow(var(--shadow-large));}

    .infos-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
        gap: 2rem;
    }
    .infos-article {
        display:grid; gap:1rem;
    }
    .infos-image {
        --p-bg-color: var(--color-neutral-0);
        --p-border-color: var(--color-border);

        background-color: hsl(var(--p-bg-color));
        border: solid 1px hsl(var(--p-border-color));
        border-radius: var(--border-radius-small);
        box-shadow: var(--shadow-large);

        inline-size:4.5rem; block-size:4.5rem; padding:1rem;
    }
    .infos-content {
        display: grid;
        gap: 0.5rem;
    }

    .articles { margin-block-start:1.5rem; }
    .articles-list { display:grid; grid-template-columns:repeat(auto-fill, minmax(22rem, 1fr)); gap:2rem; }
    .articles-item {
        --p-article-item-bg-color: var(--color-neutral-0);

        background-color: hsl(var(--p-article-item-bg-color));
        border: solid 1px hsl(var(--color-border));
        border-radius: var(--border-radius-small);
        box-shadow: var(--shadow-small);
        overflow: hidden;
    }
    .articles-item-header { display:flex; flex-wrap:wrap; align-items:baseline; }
    .read-time {}
    .articles-item-image { display:block; inline-size:100%; aspect-ratio:16/9.5; }
    .articles-item-content { padding:1.5rem; }

</style>