---
import Homepage from '../layouts/Homepage.astro';

---

<Homepage>
     <div class="container">
         <section class="hero u-max-width-400">
             <h1 class="heading-level-1">Build. Design. Collaborate.</h1>
             <p>Pink Design, or just Pink, is the Appwrite open-source design system for building consistent and reusable user interfaces. Pink is designed to prioritize collaboration, dev experience, and accessibility.</p>
         </section>
     </div>
</Homepage>

<style>
    as
</style>