.is-dark-mode{ display:none; }
.theme-dark{
  :where(.is-dark-mode){ display:block; }
  :where(.is-light-mode){ display:none; }
}


/* UN-USE */
:root {
  /* light mode */
  --text-color: var(--color-neutral-900);
  --text-color-oposite: var(--color-neutral-100);

  /* dark mode */
  .theme-dark {
    --text-color: var(--color-blue-100);
    --text-color-oposite: var(--color-neutral-100);
  }
}