@use '../abstract' as *;

.button {
    $button-size: pxToRem(52);
    --p-button-size: var(--button-size, #{$button-size});
    --p-text-color: var(--color-generic-0);
    --p-button-color: var(--color-primary-100);
    --p-border-color: var(--color-primary-100);

    @include trim();
    display:flex; align-items:center; width:fit-content; height:var(--p-button-size);
    padding:0 25px; cursor:pointer; font-size:calc(var(--p-button-size) / 3.25);
    color:hsl(var(--p-text-color)); background-color:hsl(var(--p-button-color));
    border:solid 2px hsl(var(--p-border-color)); border-radius:pxToRem(26);
    &:is(:hover, :focus) {
        &:where(:not(:disabled, .is-disabled)) {
            --p-button-color:var(--color-primary-hover);
            --p-border-color:var(--color-primary-hover);
        }
    }
    &.is-only-icon { aspect-ratio:1 / 1; padding:0; justify-content:center; align-items:center; }
    &:where(:disabled, .is-disabled) {
        opacity:0.3; filter:grayscale(1);  cursor:unset;
    }
    &.is-secondary {
        --p-button-color: var(--color-generic-0);
        --p-text-color: var(--color-primary-100);
        &:is(:hover, :focus) {
            &:where(:not(:disabled)) {
                --p-text-color: var(--color-primary-hover);
                --p-border-color:var(--color-primary-hover);
            }
        }
    }
    &.is-danger {
        --p-button-color: var(--color-danger-120);
        --p-border-color: var(--color-danger-120);
    }
    /* dark theme */
    :root .theme-dark &{
        --p-text-color:var(--color-dark-700);
        --p-button-color:var(--color-blue-100);
        --p-border-color:var(--color-blue-100);
        &.is-secondary {
            --p-button-color: hsl(--transparent);
            --p-text-color: var(--color-blue-100);
            &:is(:hover, :focus) {
                &:where(:not(:disabled)) {
                    --p-text-color: var(--color-blue-75);
                    --p-border-color:var(--color-blue-75);
                }
            }
        }
        &.is-danger {
            --p-text-color:var(--color-generic-0);
            --p-button-color: var(--color-danger-120);
            --p-border-color: var(--color-danger-120);
        }
    }
}