@use '../abstract' as *;
.card {
  --p-bg-color: var(--color-generic-0);
  $padding: pxToRem(30);
  --p-card-padding: var(--card-padding, #{$padding});
  display: block;
  background: hsl(var(--p-bg-color));
  border-radius: var(--border-radius-small);
  box-shadow: 0 0 3px rgb(0 0 0 / 5%);/*TODO: update in feature to global variable*/
  padding: var(--p-card-padding);

  .theme-dark & {
    --p-bg-color: var(--color-dark-700);
  }
}