@use '../abstract' as *;

.label {
  margin-bottom:15px;
}

::placeholder {
  --p-placeholder-color:var(--color-neutral-600);
  color: hsl(var(--p-placeholder-color));
  text-align: left;

  .theme-dark &{
    --p-placeholder-color:var(--color-blue-300);
  }
}

.input-text-wrapper {
  position: relative;
  &:where(.is-with-end-button) {
    overflow:hidden;
    .input-button {
      --p-bg-color: var(--color-neutral-100);
      --p-border-color: var(--color-neutral-200);

      position:absolute; inset-block:1px; inset-inline-end:1px;
      display:grid; place-content:center; width:pxToRem(50);
      background-color:hsl(var(--p-bg-color));
      border-inline-start:solid 1px hsl(var(--p-border-color));
      border-start-end-radius:pxToRem(10); border-end-end-radius:pxToRem(10);
      &:focus-visible {outline:revert;}
      .theme-dark & {
        --p-bg-color: var(--color-dark-700);
        --p-border-color: var(--color-neutral-950);
      }
    }
  }
}

.input-text,
[type="text"],
[type="number"],
[type="password"],
[type="email"],
[type="url"],
[type="search"],
[type="tel"],select,
.select {
  --p-text-color: var(--color-neutral-900);
  --p-bg-color: var(--color-neutral-0);
  --p-border-color: var(--color-neutral-200);
  display:block; outline:none;
  height:pxToRem(52); width:100%;
  padding-block:pxToRem(5); padding-inline:pxToRem(15);
  color:hsl(var(--p-text-color));
  background-color:hsl(var(--p-bg-color));
  border:solid 1px hsl(var(--p-border-color)); border-radius:pxToRem(10);

  &:focus {--p-border-color:211 95% 85%;/* TODO update color for scheme */}
  &:disabled {
    --p-text-color: var(--color-blue-700);
    --p-bg-color: var(--color-neutral-100);
  }

  .theme-dark & {
    --p-bg-color: 211 56% 91%;
    --p-border-color: var(--color-neutral-950);
    &:focus { --p-border-color:211 95% 85%;/* TODO update color for scheme */ }
    &:disabled {
      --p-text-color: var(--color-blue-100);
      --p-bg-color: var(--color-dark-100);
    }
  }
}

[type="password"]:where(:not(:placeholder-shown)) { font-weight:bold; }

[type="checkbox"],
[type="radio"] {
  --p-icon-color:var(--color-neutral-0);
  --p-bg-color:var(--color-neutral-0);
  --p-border-color:var(--color-primary);
  display: inline-grid;
  place-content: center;
  width: pxToRem(26);
  height: pxToRem(26);
  background: hsl(var(--p-bg-color));
  border: solid pxToRem(3) hsl(var(--p-border-color));
  color:hsl(var(--p-icon-color));
  vertical-align:middle;
  &:where(:disabled){opacity:0.5; filter:grayscale(1);}
  &:focus-visible{outline:revert;}

  .theme-dark &{
    --p-icon-color:var(--color-dark-700);
    --p-bg-color: var(--color-dark-700);
    --p-border-color: var(--color-blue-100);
  }
}
[type="radio"] {
  border-radius:50%;
  &:checked{ border-width:pxToRem(8); }
}
[type="checkbox"]{
  border-radius:pxToRem(4);
  &:where(:checked){
    --p-bg-color: var(--color-primary);
    &::before{
      font-family: "fontello";
      content: '\e83d';
    }
  }
  .theme-dark &{
    &:checked {
      --p-bg-color: var(--color-blue-100);
    }
  }
}

.switch{
  --p-bg-color: var(--color-neutral-600);

  all:unset; position:relative; display:inline-flex; box-sizing:border-box;
  width:pxToRem(52); height:pxToRem(32); border-radius:pxToRem(16);
  padding:pxToRem(5); background-color:hsl(var(--p-bg-color));
  cursor:pointer; transition:var(--transition);
  &::before {
    content:""; position:absolute; left:5px;
    width:pxToRem(22); height:pxToRem(22);
    background-color:hsl(var(--color-neutral-0)); border-radius:50%;
    transition:var(--transition);
  }
  &:where(:checked) {
    --p-bg-color:var(--color-success);
    &::before { transform:translateX(pxToRem(21)); }
  }
  &:where(:disabled){
    opacity:0.5;
  }
}

.password-meter {
  position:absolute; bottom:pxToRem(4); inset-inline:pxToRem(8);
  height: pxToRem(2);
  background: none;
  max-width: calc(100% - pxToRem(16));
  z-index: 2;

  &.is-weak { background: hsl(var(--color-danger)); width:33.33%; }
  &.is-medium { background: hsl(var(--color-ok)); width:66.66%; }
  &.is-strong { background: hsl(var(--color-success)); width:100%; }
}


.form{
  &-list{}
  &-item{
    &:where(:not(:first-child)){margin-top:pxToRem(30);}
  }
}