@use '../abstract' as *;

.label {
  margin-bottom:15px;
}

.helper {
  --p-text-color: var(--color-neutral-600);
  font-size: pxToRem(10);
  color: hsl(var(--p-text-color));
  :where(.theme-dark) &{
    --p-text-color: var(--color-blue-100);
  }
}

::placeholder {
  --p-placeholder-color:var(--color-neutral-600);
  color: hsl(var(--p-placeholder-color));
  text-align: left;

  .theme-dark &{
    --p-placeholder-color:var(--color-blue-300);
  }
}

.input-text-wrapper {
  position: relative;
  &:where(.is-with-end-button) {
    overflow:hidden;
    .input-button {
      --p-bg-color: var(--color-neutral-100);
      --p-border-color: var(--color-neutral-200);

      position:absolute; inset-block:1px; inset-inline-end:1px;
      display:grid; place-content:center; width:pxToRem(50);
      background-color:hsl(var(--p-bg-color));
      border-inline-start:solid 1px hsl(var(--p-border-color));
      border-start-end-radius:pxToRem(10); border-end-end-radius:pxToRem(10);
      &:focus-visible {outline:revert;}
      .theme-dark & {
        --p-bg-color: var(--color-dark-700);
        --p-border-color: var(--color-neutral-950);
      }
    }
  }
}

.input-text,
[type="text"],
[type="number"],
[type="password"],
[type="email"],
[type="url"],
[type="search"],
[type="tel"],
[type="file"],
select {
  --p-text-color: var(--color-neutral-900);
  --p-bg-color: var(--color-neutral-0);
  --p-border-color: var(--color-neutral-200);
  display:block; outline:none;
  height:pxToRem(52); width:100%;
  padding-block:pxToRem(5); padding-inline:pxToRem(15);
  color:hsl(var(--p-text-color));
  background-color:hsl(var(--p-bg-color));
  border:solid 1px hsl(var(--p-border-color)); border-radius:pxToRem(10);

  &:focus {--p-border-color:211 95% 85%;/* TODO update color for scheme */}
  &:disabled {
    --p-text-color: var(--color-blue-700);
    --p-bg-color: var(--color-neutral-100);
  }

  .theme-dark & {
    --p-bg-color: 211 56% 91%;
    --p-border-color: var(--color-neutral-950);
    &:focus { --p-border-color:211 95% 85%;/* TODO update color for scheme */ }
    &:disabled {
      --p-text-color: var(--color-blue-100);
      --p-bg-color: var(--color-dark-100);
    }
  }
}

[type="search"]{
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAdZJREFUWIXt1s2LjWEYBvDfnDMzFpNIamZIFrMiJYMyFmKhZKfOwoiFr2LFn2BByG6WVrKwMcjWxgoLIlKIUk6RrzAjZWZ8LO731FlwvB+PUbjq6X0X7/VeV/d9P9fz8IdRL8Hpw3x8w0xaOz9GNxq4gJeZcGs1cRab0fU7xLfgMSYzoT3YgNXYhIO4iM+4iTWphGs4jikcFSXvhEGczr4/UFW8C2N4jXUFudvwCYeqGNgnSr6yJH8rpkWLCqMfE9hdUryFE3iC3qLEk7ij+kT34Q32FiHV8Qr7K4q3cArXihCGxd5elMjARnzBvE4f1dreV+AtnicycC/7/7K8BhaIvqXCO3zFwrwGZtCT0EAtW9N5DTSxWGR/CizNns/yEgbFEK5NZGCnaEPHE7e9Ai9wA6OJDIzistgJubFdxHB/RfFVYgCHixJruI5x5dNwDm6J47sUhkTvjpUw0Y1zeOrXR3hHjOA9zmBuTs4Arog4/yhuUZWwHPdFMh7280BZgiP4ILJ/UuymqRQmejPxphiquzgvKnMJDzOxB9glZqiRiecykbfHdawX98EhcdxO4BGu4nYm2EJDzEKPSMIdYrBnFYUq8d/EP2di1gey3cS4ErflvxffASbhcakIINaMAAAAAElFTkSuQmCC);
  background-position: left pxToRem(15) top 50%;
  background-size: pxToRem(20) pxToRem(20);
  background-repeat: no-repeat;
  padding-left: pxToRem(48);
}

[type="password"]:where(:not(:placeholder-shown)) { font-weight:bold; }

.select {
  --p-text-color: var(--color-neutral-900);
  position: relative;

  select {
    cursor: pointer;
    line-height: calc(pxToRem(52) - pxToRem(10));
    padding-inline-end: pxToRem(48);
    &:focus { outline:unset; }
  }
  :where(.icon-down-open) {
    position:absolute; inset-block-start:pxToRem(10); inset-inline-end:pxToRem(16);
    pointer-events:none; color:hsl(var(--p-text-color));
  }
}

[type="file"] {
  cursor:pointer; line-height:calc(pxToRem(52) - pxToRem(10));
  &::-webkit-file-upload-button{ line-height:1; }
}

[type="checkbox"],
[type="radio"] {
  --p-icon-color:var(--color-neutral-0);
  --p-bg-color:var(--color-neutral-0);
  --p-border-color:var(--color-primary);

  display:inline-grid; place-content:center;
  width:pxToRem(26); height:pxToRem(26);
  background:hsl(var(--p-bg-color)); border:solid pxToRem(3) hsl(var(--p-border-color));
  color:hsl(var(--p-icon-color)); vertical-align:middle;

  &:where(:disabled) { opacity:0.5; filter:grayscale(1); }
  &:focus-visible{ outline:revert; }

  .theme-dark &{
    --p-icon-color: var(--color-dark-700);
    --p-bg-color: var(--color-dark-700);
    --p-border-color: var(--color-blue-100);
  }
}
[type="radio"] {
  border-radius:50%;
  &:checked{ border-width:pxToRem(8); }
}
[type="checkbox"]{
  border-radius:pxToRem(4);
  &:where(:checked){
    --p-bg-color: var(--color-primary);
    &::before{
      font-family: "fontello";
      content: '\e83d';
    }
  }
  .theme-dark &{
    &:checked {
      --p-bg-color: var(--color-blue-100);
    }
  }
}

.switch{
  --p-bg-color: var(--color-neutral-600);

  all:unset; position:relative; display:inline-flex; box-sizing:border-box;
  width:pxToRem(52); height:pxToRem(32); border-radius:pxToRem(16);
  padding:pxToRem(5); background-color:hsl(var(--p-bg-color));
  cursor:pointer; transition:var(--transition);
  &::before {
    content:""; position:absolute; left:5px;
    width:pxToRem(22); height:pxToRem(22);
    background-color:hsl(var(--color-neutral-0)); border-radius:50%;
    transition:var(--transition);
  }
  &:where(:checked) {
    --p-bg-color:var(--color-success);
    &::before { transform:translateX(pxToRem(21)); }
  }
  &:where(:disabled){
    opacity:0.5;
  }
}

.password-meter {
  position:absolute; z-index:2; bottom:pxToRem(4); inset-inline:pxToRem(8);
  height:pxToRem(2); max-width:calc(100% - pxToRem(16)); background:none;
  transition:var(--transition);

  &::-webkit-meter-optimum-value { background-image:none; } /* Safari */
  &::-webkit-meter-bar { background:none; } /* Safari */
  &::-moz-meter-bar { background:none; } /* FireFox */
  &.is-weak {
    background: hsl(var(--color-danger)); width:33.33%;
    &::-webkit-meter-optimum-value { background-color:hsl(var(--color-danger)); } /* Safari */
  }
  &.is-medium {
    background: hsl(var(--color-ok)); width:66.66%;
    &::-webkit-meter-optimum-value { background-color:hsl(var(--color-ok)); } /* Safari */
  }
  &.is-strong {
    background: hsl(var(--color-success)); width:100%;
    &::-webkit-meter-optimum-value { background-color:hsl(var(--color-success)); } /* Safari */
  }
}

/* tag input partial */
.tags-input {
  @extend .input-text; padding-block:pxToRem(10);
  display:flex; gap:10px; align-items:center; flex-wrap:wrap; height:auto;
  &-text { all:unset; flex:1; }
}

.tags {
  display:contents;
  &-list { display:contents; gap:10px; flex-wrap:wrap; }
}

.tag {
  --p-bg-color: var(--color-neutral-200);
  --p-text-color: var(--color-neutral-600);
  display:flex; gap:6px; align-items:center;
  background-color:hsl(var(--p-bg-color)); padding-inline:10px; border-radius:pxToRem(12);
  color:hsl(var(--p-text-color));
  .theme-dark &{
    --p-bg-color: var(--color-neutral-950);
    --p-text-color: var(--color-blue-100);
  }
}

.x-button {
  --p-size: var(--size, 16);
  --p-text-color: var(--button-text-color, var(--color-neutral-0));
  --p-bg-color: var(--button-bg-color, var(--color-neutral-900));

  width: calc( var(--p-size) / 16 * 1rem);
  height: calc( var(--p-size) / 16 * 1rem);
  font-size: calc(var(--p-size) / 16 * 0.70 * 1rem); /* 0.75 */

  background-color: hsl(var(--p-bg-color));
  color: hsl(var(--p-text-color));

  display:inline-grid; place-content:center; border-radius:50%; line-height:1;

}
/* END - tag input partial */


.form{
  &-list{}
  &-item{
    &:where(:not(:first-child)){margin-top:pxToRem(30);}
  }
}