.pill {
  --p-pill-text-color:var(--color-dafault, var(--pill-text-color));

  color: hsl(var(--p-pill-text-color));
  background-color: hsl(var(--p-pill-text-color) / 0.2);
  display:inline-grid; place-content:center; padding-inline:12px; height:30px; border-radius:15px;
  font-size:14px; font-weight:500;

  &.is-disabled { --p-pill-text-color:var(--color-disabled); }
  &.is-pending  { --p-pill-text-color:var(--color-warning-120);  }
  &.is-failed   { --p-pill-text-color:var(--color-danger-120); }
  &.is-success  { --p-pill-text-color:var(--color-success-100); }
}