@use '../../abstract/functions/pxToRem' as *;
@mixin scroll {
  &::-webkit-scrollbar {
    opacity: 0;
    width: pxToRem(8);
    height: pxToRem(8);
  }

  &::-webkit-scrollbar-track {
    border-radius: pxToRem(4);
    margin-right: pxToRem(8);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: pxToRem(4);
    background: hsl(var(--color-neutral-30));
  }

  &::-webkit-scrollbar-corner {
    background: hsl(var(--color-neutral-30));
    border-radius: pxToRem(6);
  }
}