<nav id="nav" class="main-side">
    <div class="side-nav">
        <div class="side-nav-main">
            <section class="drop-section">
                <ul class="drop-list">
                    <li class="drop-list-item">
                        <a class="drop-button is-selected" href="/">
                            <span class="icon-chart-bar" aria-hidden="true"></span>
                            <span class="text">Home</span>
                        </a>
                    </li>
                    <li class="drop-list-item">
                        <a class="drop-button" href="/users.html">
                            <span class="icon-user-group" aria-hidden="true"></span>
                            <span class="text">Users Demo Page</span>
                        </a>
                    </li>
                    <li class="drop-list-item">
                        <a class="drop-button" href="/settings.html">
                            <span class="icon-cog" aria-hidden="true"></span>
                            <span class="text">Storage Demo Page</span>
                        </a>
                    </li>
                    <li class="drop-list-item">
                        <a class="drop-button" href="">
                            <span class="icon-database" aria-hidden="true"></span>
                            <span class="text">Database</span>
                        </a>
                    </li>
                    <li class="drop-list-item">
                        <a class="drop-button" href="">
                            <span class="icon-lightning-bolt" aria-hidden="true"></span>
                            <span class="text">Functions</span>
                        </a>
                    </li>
                </ul>
            </section>
            <section class="drop-section u-flex u-flex-horizontal is-no-desktop">
                        <button class="button is-small is-text u-main-center u-width-full-line"><span class="text">Feedback</span></button>
                        <button class="button is-small is-text u-main-center u-width-full-line"><span class="text">Support</span></button>
                        <button class="button is-small is-secondary u-main-center u-width-full-line"><span class="text">Upgrade</span></button>
            </section>
        </div>

        <div class="side-nav-bottom">
            <div id="catalog-theme-toggle">
                <input class="switch" type="checkbox" />
            </div>
            <section class="drop-section">
                <a class="drop-button" href="">
                    <span class="icon-cog" aria-hidden="true"></span>
                    <span class="text">Settings</span>
                </a>
            </section>

        </div>
    </div>
</nav>