<nav id="nav" class="main-side">
    <div class="side-nav">

        <div class="side-nav-level-1 is-narrow">
            <div class="side-nav-main">
                <section class="drop-section">
                    <button class="open-nav is-not-desktop">OPEN NAV</button>
                    <ul class="drop-list">
                        <li class="drop-list-item">
                            <a class="drop-button is-selected" href="/">
                                <span class="icon-chart-bar" aria-hidden="true"></span>
                                <span class="text">Home</span>
                            </a>
                        </li>
                        <li class="drop-list-item">
                            <a class="drop-button" href="">
                                <span class="icon-database" aria-hidden="true"></span>
                                <span class="text">Database</span>
                            </a>
                        </li>
                        <li class="drop-list-item">
                            <a class="drop-button" href="/settings.html">
                                <span class="icon-folder" aria-hidden="true"></span>
                                <span class="text">Storage</span>
                            </a>
                        </li>

                        <li class="drop-list-item">
                            <a class="drop-button" href="/users.html">
                                <span class="icon-user-group" aria-hidden="true"></span>
                                <span class="text">Users</span>
                            </a>
                        </li>

                        <li class="drop-list-item">
                            <a class="drop-button" href="">
                                <span class="icon-lightning-bolt" aria-hidden="true"></span>
                                <span class="text">Functions</span>
                            </a>
                        </li>
                    </ul>
                    <p style="margin-top: 1rem;">DEMOS</p>
                    <ul class="drop-list">




                        <li class="drop-list-item">
                            <a class="drop-button" href="/users.html">
                                <span class="icon-user-group" aria-hidden="true"></span>
                                <span class="text">Users</span>
                            </a>
                        </li>
                        <li class="drop-list-item">
                            <a class="drop-button" href="/user.html">
                                <span class="icon-user" aria-hidden="true"></span>
                                <span class="text">User</span>
                            </a>
                        </li>
                        <li class="drop-list-item">
                            <a class="drop-button" href="/userSecurity.html">
                                <span class="icon-user" aria-hidden="true"></span>
                                <span class="text">Security</span>
                            </a>
                        </li>
                        <li class="drop-list-item">
                            <a class="drop-button" href="/auth.html">
                                <span class="icon-academic-cap" aria-hidden="true"></span>
                                <span class="text">Auth</span>
                            </a>
                        </li>
                        <li class="drop-list-item">
                            <a class="drop-button" href="/auth2.html">
                                <span class="icon-archive" aria-hidden="true"></span>
                                <span class="text">Auth2</span>
                            </a>
                        </li>
                        <li class="drop-list-item">
                            <a class="drop-button" href="/teamActivity.html">
                                <span class="icon-beaker" aria-hidden="true"></span>
                                <span class="text">Team Activity</span>
                            </a>
                        </li>

                        <li class="drop-list-item">
                            <a class="drop-button" href="/buckets.html">
                                <span class="icon-folder" aria-hidden="true"></span>
                                <span class="text">Buckets</span>
                            </a>
                        </li>
                        <li class="drop-list-item">
                            <a class="drop-button" href="/bucket.html">
                                <span class="icon-folder" aria-hidden="true"></span>
                                <span class="text">Bucket</span>
                            </a>
                        </li>
                        <li class="drop-list-item">
                            <a class="drop-button" href="/bucketSettings.html">
                                <span class="icon-folder" aria-hidden="true"></span>
                                <span class="text">Bucket Settings</span>
                            </a>
                        </li>
                        <li class="drop-list-item">
                            <a class="drop-button" href="/collection.html">
                                <span class="icon-annotation" aria-hidden="true"></span>
                                <span class="text">Collection</span>
                            </a>
                        </li>

                    </ul>

                </section>
                <section class="drop-section u-flex u-flex-vertical is-not-desktop">
                    <button class="button is-text u-main-center u-width-full-line"><span
                            class="text">Feedback</span></button>
                    <button class="button is-text u-main-center u-width-full-line"><span
                            class="text">Support</span></button>
                    <button class="button is-secondary u-main-center u-width-full-line"><span
                            class="text">Upgrade</span></button>
                </section>
            </div>
            <div class="side-nav-bottom">
                <section class="drop-section">
                    <a class="drop-button" href="">
                        <span class="icon-cog" aria-hidden="true"></span>
                        <span class="text">Settings</span>
                    </a>
                </section>

            </div>
            <button class="side-nav-button button is-small is-secondary is-not-mobile" aria-label="resize menu">
                <span class="icon-cheveron-right" aria-hidden="true"></span>
            </button>
        </div>

        <div class="side-nav-level-2 is-open">
            <section class="drop-section u-flex-vertical u-gap-8">
                <button class="u-flex u-cross-center u-sep-block-end u-padding-block-12 is-not-desktop" id="aaa">
                    <span class="icon-cheveron-left" aria-hidden="true"></span>
                    <span class="eyebrow-heading-3 u-margin-inline-auto">Databases</span>
                </button>
                <h5 class="eyebrow-heading-3 u-padding-block-12">Header</h5>
                <button class="button is-text is-full-width u-main-start u-padding-inline-0">
                    <span class="icon-plus" aria-hidden="true"></span>
                    <span class="text">Button</span>
                </button>
                <ul class="drop-list">
                    <li class="drop-list-item">
                        <a class="drop-button is-selected" href="/">
                            <span class="text">Home</span>
                        </a>
                    </li>
                    <li class="drop-list-item">
                        <a class="drop-button" href="">
                            <span class="text">Database</span>
                        </a>
                    </li>
                    <li class="drop-list-item">
                        <a class="drop-button" href="/settings.html">
                            <span class="text">Storage</span>
                        </a>
                    </li>

                    <li class="drop-list-item">
                        <a class="drop-button" href="/users.html">
                            <span class="text">Users</span>
                        </a>
                    </li>

                    <li class="drop-list-item">
                        <a class="drop-button" href="">
                            <span class="text">Functions</span>
                        </a>
                    </li>
                </ul>
            </section>
        </div>

    </div>
</nav>


<!-- TEMP JS (by Elad) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document).ready(function() {
        $(".side-nav-button").on( "click", function() {
            $(".side-nav-level-1").toggleClass("is-narrow");
            $(".side-nav-button").toggleClass("is-open");
        });

        $(".open-nav, #aaa").on( "click", function() {
            $(".side-nav").toggleClass("is-open-level-2");
        });
    });
</script>