<header class="main-header u-padding-inline-end-0">
    <button id="menuButton" class="icon-button is-not-desktop" aria-label="Open Menu">
        <span class="icon-menu" aria-hidden="true"></span>
    </button>
    <a class="logo">
        <img src="/images/appwrite-gray-light.svg" width="132" height="34" alt="Appwrite">
    </a>
    <nav class="breadcrumbs is-only-desktop" aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumbs-list">
            <li class="breadcrumbs-item"><a href="#" aria-level="1">Home</a></li>
            <li class="breadcrumbs-item"><a href="#" aria-level="2">Users</a></li>
        </ol>
    </nav>

    <div class="main-header-end">
        <nav class="u-flex u-gap-12">
            <div class="drop-wrapper">
                <button class="button is-text is-only-desktop">
                    <span class="pulse-notification"></span>
                    <span class="text">Feedback</span>
                </button>
                <div class="drop is-block-end u-hide" style="--drop-width-size-desktop:20rem; --section-padding-horizontal:1.5rem; --section-padding-vertical:1.5rem;">
                    <section class="drop-section">
                        <header class="u-flex u-main-space-between u-gap-16">
                            <h4 class="body-text-1 u-bold">How can we improve?</h4>
                            <button type="button" class="x-button" aria-label="Close drop" title="Close Drop"><span class="icon-x" aria-hidden="true"></span></button>
                        </header>
                        <p class="u-line-height-1-5 u-margin-block-start-8">Your feedback is important to us. Please be honest and tell us what you think.</p>
                        <p class="u-line-height-1-5 u-margin-block-start-8 u-bold">Your feedback is important to us. Please be honest and tell us what you think.</p>
                        <form class="form u-margin-block-start-24">
                            <ul class="form-list u-gap-8">
                                <li class="form-item">
                                    <textarea class="" aria-label="Message" placeholder="Your message here"></textarea>
                                </li>
                                <li class="form-item">
                                    <input type="text" aria-label="First name" placeholder="[User First Name]">
                                </li>
                                <li class="form-item">
                                    <input type="text" aria-label="Email" placeholder="[User Email]">
                                </li>
                            </ul>
                            <div class="u-flex u-main-end u-gap-16 u-margin-block-start-24">
                                <button class="button is-text">
                                    <span class="text">Cancel</span>
                                </button>
                                <button class="button is-secondary">
                                    <span class="text">Submit</span>
                                </button>
                            </div>
                        </form>
                    </section>
                </div>

                <div class="drop is-block-end u-hide" style="--drop-width-size-desktop:28.125rem; --section-padding-horizontal:1.5rem; --section-padding-vertical:1.5rem;">
                    <section class="drop-section">
                        <header class="u-flex u-main-space-between u-gap-16">
                            <h4 class="body-text-1 u-bold">How are we doing?</h4>
                            <button type="button" class="x-button" aria-label="Close drop" title="Close Drop"><span class="icon-x" aria-hidden="true"></span></button>
                        </header>
                        <p class="u-line-height-1-5 u-margin-block-start-8">At Appwrite, we value the feedback of our users. That means you! We’d love to hear what you think.</p>

                        <fieldset class="u-margin-block-start-8">
                            <legend class="label is-required u-margin-0 u-line-height-1-5 u-bold">How likely are you to recommend Appwrite to a friend or colleague?</legend>
                            <ul class="u-flex u-main-space-between u-margin-block-start-16">
                                <li>
                                    <input type="radio" name="recommend" class="radio-button" arial-label="rate 1" data-text="1">
                                </li>
                                <li>
                                    <input type="radio" name="recommend" class="radio-button" arial-label="rate 2" data-text="2">
                                </li>
                                <li>
                                    <input type="radio" name="recommend" class="radio-button" arial-label="rate 3" data-text="3">
                                </li>
                                <li>
                                    <input type="radio" name="recommend" class="radio-button" arial-label="rate 4" data-text="4">
                                </li>
                                <li>
                                    <input type="radio" name="recommend" class="radio-button" arial-label="rate 5" data-text="4">
                                </li>
                                <li>
                                    <input type="radio" name="recommend" class="radio-button" arial-label="rate 6" data-text="6">
                                </li>
                                <li>
                                    <input type="radio" name="recommend" class="radio-button" arial-label="rate 7" data-text="7">
                                </li>
                                <li>
                                    <input type="radio" name="recommend" class="radio-button" arial-label="rate 8" data-text="8">
                                </li>
                                <li>
                                    <input type="radio" name="recommend" class="radio-button" arial-label="rate 9" data-text="9">
                                </li>
                                <li>
                                    <input type="radio" name="recommend" class="radio-button" arial-label="rate 10" data-text="10">
                                </li>
                            </ul>
                            <div class="u-flex u-main-space-between u-margin-block-start-8">
                                <span>Not at all likely</span>
                                <span>Extremely likely</span>
                            </div>
                        </fieldset>
                        <form class="form u-margin-block-start-24">
                            <ul class="form-list u-gap-8">
                                <li class="form-item">
                                    <textarea class="" aria-label="Tell us about your experience" placeholder="Tell us about your experience"></textarea>
                                </li>
                                <li class="form-item">
                                    <input type="text" aria-label="First name" placeholder="[User First Name]">
                                </li>
                                <li class="form-item">
                                    <input type="text" aria-label="Email" placeholder="[User Email]">
                                </li>
                            </ul>
                            <div class="u-flex u-main-end u-gap-16 u-margin-block-start-24">
                                <button class="button is-text">
                                    <span class="text">No thanks</span>
                                </button>
                                <button class="button is-secondary">
                                    <span class="text">Submit</span>
                                </button>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
            <div class="drop-wrapper">
                <button class="button is-text u-margin-inline-end-16 is-only-desktop"><span class="text">Support</span></button>
                <section id="Support" class="drop is-block-end is-full-screen-mobile u-width-280-desktop u-hide">
                    <header class="drop-header-mobile">
                        <h1 class="body-text-1 u-bold u-line-height-1">Support</h1>
                        <button class="x-button u-margin-inline-start-auto" aria-label="close support popup"><span class="icon-x" aria-hidden="true"></span></button>
                    </header>
                    <section class="drop-section u-grid u-gap-24 u-padding-24">
                        <div class="u-flex">
                            <img src="/images/upgrade/upgrade-light.png" class="u-only-light u-width-full-line u-max-width-250" alt="">
                            <img src="/images/upgrade/upgrade-dark.png" class="u-only-dark u-width-full-line u-max-width-250" alt="">
                        </div>
                        <div>
                            <h4 class="eyebrow-heading-3">premium support</h4>
                            <p class="u-line-height-1-5 u-margin-block-start-8">
                              Get personalized support from the Appwrite team from <b>09:00 - 17:00 UTC</b>
                            </p>
                        </div>
                        <button class="button is-secondary is-full-width">
                            <span class="text">Contact our Support Team</span>
                        </button>
                    </section>
                    <section class="drop-section u-grid u-gap-24 u-padding-24">
                        <div>
                            <h4 class="eyebrow-heading-3">troubleshooting</h4>
                            <button class="button is-text u-gap-4 u-cross-center u-padding-inline-0 u-margin-block-start-8 u-width-full-line">
                                <span class="helper u-success">
                                    <span class="icon-check-circle" aria-hidden="true"></span>
                                </span>
                                <b class="text">All services are online</b>
                            </button>
                        </div>
                        <div class="u-flex u-gap-16 u-margin-block-start-8">
                            <button class="button is-secondary u-padding-inline-12 u-stretch u-main-center u-gap-4 u-flex-basis-auto">
                                <span class="icon-book-open" aria-hidden="true"></span>
                                <span class="text">Docs</span>
                            </button>
                            <button class="button is-secondary u-padding-inline-12 u-stretch u-main-center u-gap-4 u-flex-basis-auto">
                                <span class="icon-github" aria-hidden="true"></span>
                                <span class="text">Open issue</span>
                            </button>
                        </div>
                    </section>
                    <section class="drop-section u-grid u-gap-8 u-padding-24">
                        <div>
                            <h4 class="eyebrow-heading-3">community support</h4>
                            <p>Get help from our community</p>
                        </div>
                        <ul class="u-flex">
                            <li>
                                <button class="button is-text is-only-icon" aria-label="Appwrtie GitHub Community">
                                    <span class="icon-github" aria-hidden="true"></span>
                                </button>
                            </li>
                            <li>
                                <button class="button is-text is-only-icon" aria-label="Appwrtie Discord Community">
                                    <span class="icon-discord" aria-hidden="true"></span>
                                </button>
                            </li>
                        </ul>
                    </section>
                </section>
            </div>
            <section class="drop-wrapper">
                <button class="button is-secondary is-only-desktop"><span class="text">Upgrade</span></button>
            </section>
        </nav>
        <nav class="u-flex u-height-100-percent u-sep-inline-start">
            <div class="drop-wrapper">
                <button id="dropdownBtn" class="user-profile-button">
                    <span class="avatar">IM</span>
                    <span class="user-profile-info is-only-desktop">
                        <span class="name">Walter O’brien</span>
                        <span class="title">Acme Corp</span>
                    </span>
                    <span class="icon-cheveron-down is-only-desktop" aria-hidden="true"></span>
                </button>
                <div id="dropdown" class="drop is-block-end is-no-arrow u-hide">
                    <section class="drop-section">
                        <ul class="drop-list">
                            <li class="drop-list-item">
                                <button class="drop-button">
                                    <span class="text">Acme Corp</span>
                                </button>
                            </li>
                            <li class="drop-list-item">
                                <button class="drop-button">
                                    <span class="text">Acme Organisation</span>
                                </button>
                            </li>
                        </ul>
                    </section>

                    <section class="drop-section">
                        <ul class="drop-list">
                            <li class="drop-list-item">
                                <button class="drop-button">
                                    <span class="text">New organisation</span>
                                    <span class="icon-plus" aria-hidden="true"></span>
                                </button>
                            </li>
                            <li class="drop-list-item">
                                <button class="drop-button">
                                    <span class="text">Your Account</span>
                                </button>
                            </li>
                            <li class="drop-list-item">
                                <button class="drop-button">
                                    <span class="text">Sign Out</span>
                                    <span class="icon-logout-right" aria-hidden="true"></span>
                                </button>
                            </li>
                        </ul>
                    </section>
                    <section class="drop-section">
                        <ul class="u-flex u-gap-12">
                            <li>
                                <label class="image-radio">
                                    <img src="/images/mode/light-mode.svg" alt="light mode" width="65" height="56">
                                    <input type="radio" class="is-small" id="light" name="mode" checked>
                                </label>
                            </li>
                            <li>
                                <label class="image-radio">
                                    <img src="/images/mode/dark-mode.svg" alt="dark mode" width="65" height="56">
                                    <input type="radio" class="is-small" id="dark" name="mode">
                                </label>
                            </li>
                            <li>
                                <label class="image-radio">
                                    <img src="/images/mode/system-mode.svg" alt="system mode" width="65" height="56">
                                    <input type="radio" class="is-small" name="mode">
                                </label>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
        </nav>
    </div>
</header>