<header class="main-header">
    <button class="icon-button is-big is-no-desktop" aria-label="Open Menu" id="menuButton">
        <span class="icon-dots-horizontal" aria-hidden="true"></span>
    </button>
    <div class="console-header">
        <div class="start">
            <div class="select is-only-desktop">
                <select name="pets" id="pet-select">
                    <option value="">--Please choose an option--</option>
                    <option value="dog">Dog</option>
                    <option value="cat">Cat</option>
                    <option value="hamster">Hamster</option>
                    <option value="parrot">Parrot</option>
                    <option value="spider">Spider</option>
                    <option value="goldfish">Goldfish</option>
                </select>
                <span class="icon-down-open" aria-hidden="true"></span>
            </div>

            <button class="button is-only-icon is-only-desktop" aria-label="Create Project">
                <span class="icon-plus" aria-hidden="true"></span>
            </button>
        </div>

        <div class="center">
            <a href="" class="is-no-desktop">
                <img src="https://appwrite.io/images/appwrite-footer-dark.svg" loading="lazy" alt="Appwrite"
                    class="console-header-logo is-dark-mode" width="100" />
                <img src="https://appwrite.io/images/appwrite-footer-light.svg" loading="lazy" alt="Appwrite"
                    class="console-header-logo is-light-mode" width="100" />
            </a>
        </div>
        <div class="end">
            <button class="transparent-button">
                <span class="link is-only-desktop">Peter Parker</span>
                <span class="user-image">
                    <img src="https://unsplash.it/60" alt="avatar" class="avatar" style="--size: 40px" />
                </span>
            </button>
            <div id="catalog-theme-toggle">
                <input class="switch" type="checkbox" />
            </div>
        </div>
    </div>
</header>