/** custom reset **/
:where(dialog:modal) { all:revert; }

img[src=""] {
  visibility: hidden;
}

button {
  cursor: pointer;
}

pre {
  margin-block: 0;
}

details summary::-webkit-details-marker {
  display:none;
}

summary::-webkit-details-marker { display:none!important; }