@use '../abstract' as *;
/** custom reset **/
:where(dialog:modal) { all:revert; }

img[src=""] {
  visibility: hidden;
}

button {
  cursor: pointer;
}

pre {
  margin-block: 0;
}

details summary::-webkit-details-marker {
  display:none;
}

summary::-webkit-details-marker { display:none!important; }

input[type="time"]::-webkit-datatime-edit { padding:0!important; }


#{$theme-dark} {
  input[type="date"]::-webkit-calendar-picker-indicator { filter:invert(0.8); }
  input[type="time"]::-webkit-calendar-picker-indicator { filter:invert(0.8); }
}
