@use '../abstract' as *;
html {

}

body {
  --p-text-color: var(--color-neutral-150);
  --p-bg-color: var(--color-neutral-10);
  direction: ltr;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  font-size: 100%; /* default equal to 16px */
  line-height: 2;
  color: hsl(var(--p-text-color)); /* not yet defined */
  background-color:hsl(var(--p-bg-color));

  &.theme-dark{
    --p-text-color: var(--color-neutral-50);
    --p-bg-color: var(--color-neutral-150);
  }
}

:focus {
  /* focus styles */
  box-shadow: var(--focus-box-shadow);
}