@mixin trim($numLines: null){
  @if $numLines != null {
    display:-webkit-box;
    -webkit-line-clamp:$numLines;
    -webkit-box-orient:vertical;
    overflow:hidden;
  }
  @else{
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    display:block;
  }
}