@use '../../abstract' as *;

::placeholder {
  --p-placeholder-color:var(--color-neutral-100);
  color: hsl(var(--p-placeholder-color));
  text-align: left;

  .theme-dark &{
    --p-placeholder-color:var(--color-neutral-50);
  }
}