@use '../../abstract' as *;

::placeholder {
  --p-placeholder-color: var(--color-neutral-100);
  --p-placeholder-color-disabled: var(--color-neutral-50);
  color: hsl(var(--p-placeholder-color));
  text-align: left;

  .theme-dark & {
    --p-placeholder-color: var(--color-neutral-50);
  }
}

:disabled::placeholder {
  color: hsl(var(--p-placeholder-color-disabled));
  .theme-dark & {
    --p-placeholder-color-disabled: var(--color-neutral-120);
  }
}