@use '../../abstract' as *;

[type="checkbox"],
[type="radio"] {
  $size:              pxToRem(24);
  --p-size:           #{$size};
  --p-icon-color:     var(--color-generic-0);
  --p-icon-size:      calc(var(--p-size) * 0.85);
  --p-bg-color:       var(--color-generic-0);
  --p-border-color:   var(--color-neutral-30);

  display:inline-grid; place-content:center;
  width:var(--p-size); height:var(--p-size);
  background:hsl(var(--p-bg-color)); border:solid pxToRem(1) hsl(var(--p-border-color));
  color:hsl(var(--p-icon-color)); vertical-align:middle; cursor:pointer;

  &.is-small  { $size:pxToRem(16); --p-size:#{$size}; }
  &.is-medium { $size:pxToRem(20); --p-size:#{$size}; }
  //&:where(:disabled)  { opacity:0.5; filter:grayscale(1); }

  &:where(:checked)   {
    --p-bg-color:     var(--color-neutral-150);
    --p-border-color: var(--color-neutral-150);
  }
  &:where(:hover)     {
    --p-bg-color:     var(--color-neutral-5);
    --p-border-color: var(--color-neutral-50);
    &:where(:checked) {
      --p-bg-color:     var(--color-neutral-120);
      --p-border-color: var(--color-neutral-120);
    }
  }
  &:where(:active)    {
    --p-bg-color:     var(--color-generic-0);
    --p-border-color: var(--color-neutral-100);
    &:where(:checked) {
      --p-bg-color:     var(--color-neutral-190);
      --p-border-color: var(--color-neutral-190);
    }
  }
  &:where(:disabled)  {
    --p-bg-color:     var(--color-generic-0);
    --p-border-color: var(--color-neutral-10);
    &:where(:checked) {
      --p-bg-color:     var(--color-neutral-10);
      --p-border-color: var(--color-neutral-10);
    }
  }

  .theme-dark & {
    --p-icon-color:   var(--color-neutral-0);
    --p-bg-color:     var(--color-neutral-190);
    --p-border-color: var(--color-neutral-100);

    &:where(:checked)   {
      --p-bg-color:     var(--color-neutral-100);
      --p-border-color: var(--color-neutral-100);
    }
    &:where(:hover)     {
      --p-bg-color:     var(--color-neutral-170);
      --p-border-color: var(--color-neutral-100);
      &:where(:checked) {
        --p-bg-color:     var(--color-neutral-120);
        --p-border-color: var(--color-neutral-120);
      }
    }
    &:where(:active)    {
      --p-bg-color:     var(--color-neutral-190);
      --p-border-color: var(--color-neutral-50);
      &:where(:checked) {
        --p-bg-color:     var(--color-neutral-50);
        --p-border-color: var(--color-neutral-50);
      }
    }
    &:where(:disabled)  {
      --p-bg-color:     var(--color-neutral-150);
      --p-border-color: var(--color-neutral-150);
      &:where(:checked) {
        --p-icon-color:     var(--color-neutral-100);
        --p-bg-color:     var(--color-neutral-150);
        --p-border-color: var(--color-neutral-150);

      }
    }
  }
}
[type="radio"] {
  border-radius:var(--border-radius-circular);
  &:where(:checked) { padding:calc(var(--p-size) * 0.2); background-clip:content-box; }

}
[type="checkbox"] {
  border-radius: var(--border-radius-xsmall);
  &:where(:checked) {
    &::before {
      font-family:    "icon";
      content:        '\ea2c';
      vertical-align: middle;
      margin-bottom:  calc(var(--p-size) / 8 * -1);
      font-size: var(--p-icon-size);
    }
  }
}

.checkboxes {
  &-header { display:flex; justify-content:space-between; }
  &-options { display:flex; gap:pxToRem(10); font-size:pxToRem(13); }
  &-list { display:grid; grid-template-columns:repeat(2, 1fr); gap:pxToRem(30);}
  &-item {
    :where([type="checkbox"]) { margin-inline-end:pxToRem(10); }
  }
}