@use '../../abstract' as *;
.switch {
  --p-bg-color: var(--color-neutral-600);

  all:unset; position:relative; display:inline-flex; box-sizing:border-box;
  width:pxToRem(52); height:pxToRem(32); border-radius:var(--border-radius-medium);
  padding:pxToRem(5); background-color:hsl(var(--p-bg-color));
  cursor:pointer; transition:var(--transition);
  &::before {
    content:""; position:absolute; left:5px;
    width:pxToRem(22); height:pxToRem(22);
    background-color:hsl(var(--color-generic-0)); border-radius:var(--border-radius-circular);
    transition:var(--transition);
  }
  &:where(:checked) {
    --p-bg-color:var(--color-success-100);
    &::before { transform:translateX(pxToRem(21)); }
  }
  &:where(:disabled){
    opacity:0.5;
  }
  .theme-dark &{
    --p-bg-color: var(--color-blue-200);
    &:checked {
      --p-bg-color: var(--color-success-100);
    }
  }
}